In [17]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [18]:
data = requests.get("https://www.worldathletics.org/records/all-time-toplists/road-running/marathon/outdoor/men/senior?regionType=world&drop=regular&fiftyPercentRule=regular&page=1&bestResultsOnly=false&firstDay=1899-12-31&lastDay=2020-12-09")

In [19]:
data.status_code

200

In [20]:
soup = BeautifulSoup(data.text)

In [21]:
data_scraped = []
rows = soup.select(".records-table tbody tr")
for row in rows:
    athlete = []
    for element in row.select("td"):
        if len(element.text) > 0:
            athlete.append(element.text.strip())    
    data_scraped.append(athlete)

In [43]:
data_scraped

[['1',
  '2:01:39',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '16 SEP 2018',
  '1316'],
 ['2',
  '2:01:41',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '29 SEP 2019',
  '1315'],
 ['3',
  '2:02:37',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '28 APR 2019',
  '1297'],
 ['4',
  '2:02:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '2',
  'Berlin (GER)',
  '29 SEP 2019',
  '1294'],
 ['5',
  '2:02:55',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '2',
  'London (GBR)',
  '28 APR 2019',
  '1292'],
 ['6',
  '2:02:57',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2014',
  '1291'],
 ['7',
  '2:03:00',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '1',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1290'],
 ['8',
  '2:03:03',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '25 SEP 2016',
  '1289'],
 ['9',
  '2:03:04',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '2',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1289'],
 ['10',
  '2:03:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '24 APR 2016',
  '1288'],
 ['11',
  '2:03:13',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2014',
  '1286'],
 ['11',
  '2:03:13',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'Berlin (GER)',
  '25 SEP 2016',
  '1286'],
 ['13',
  '2:03:16',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '3',
  'London (GBR)',
  '28 APR 2019',
  '1285'],
 ['13',
  '2:03:16',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '3',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1285'],
 ['15',
  '2:03:23',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Berlin (GER)',
  '29 SEP 2013',
  '1283'],
 ['16',
  '2:03:30',
  'Amos KIPRUTO',
  '16 SEP 1992',
  'KEN',
  '4',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1281'],
 ['17',
  '2:03:32',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '24 SEP 2017',
  '1280'],
 ['18',
  '2:03:34',
  'Getaneh MOLLA',
  '10 JAN 1994',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1279'],
 ['19',
  '2:03:36',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Berlin (GER)',
  '29 SEP 2019',
  '1279'],
 ['20',
  '2:03:38',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Berlin (GER)',
  '25 SEP 2011',
  '1278'],
 ['21',
  '2:03:40',
  'Herpasa NEGASA',
  '11 SEP 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1278'],
 ['22',
  '2:03:42',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1277'],
 ['23',
  '2:03:45',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1276'],
 ['24',
  '2:03:46',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '2',
  'Berlin (GER)',
  '24 SEP 2017',
  '1276'],
 ['25',
  '2:03:51',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '24 APR 2016',
  '1274'],
 ['25',
  '2:03:51',
  'Kinde ATANAW',
  '15 APR 1993',
  'ETH',
  '1',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1274'],
 ['27',
  '2:03:52',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1274'],
 ['28',
  '2:03:58',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Tokyo (JPN)',
  '26 FEB 2017',
  '1272'],
 ['29',
  '2:03:59',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '28 SEP 2008',
  '1272'],
 ['30',
  '2:04:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '27 SEP 2015',
  '1271'],
 ['30',
  '2:04:00',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['32',
  '2:04:02',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '2',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['33',
  '2:04:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '29 SEP 2013',
  '1270'],
 ['34',
  '2:04:06',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '3',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1269'],
 ['37',
  '2:04:08',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '5',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['38',
  '2:04:11',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1268'],
 ['38',
  '2:04:11',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '1',
  'Dubai (UAE)',
  '20 JAN 2017',
  '1268'],
 ['38',
  '2:04:11',
  'Marius KIPSEREM',
  '17 MAY 1988',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '07 APR 2019',
  '1268'],
 ['41',
  '2:04:12',
  'Reuben KERIO',
  '02 JUN 1994',
  'KEN',
  '5',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1268'],
 ['42',
  '2:04:15',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '1',
  'Berlin (GER)',
  '30 SEP 2012',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '6',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1267'],
 ['45',
  '2:04:16',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '30 SEP 2012',
  '1266'],
 ['45',
  '2:04:16',
  'Kaan Kigen ÖZBILEN',
  '15 JAN 1986',
  'TUR',
  '2',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1266'],
 ['47',
  '2:04:17',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2018',
  '1266'],
 ['48',
  '2:04:23',
  'Ayele ABSHERO',
  '28 DEC 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1264'],
 ['49',
  '2:04:24',
  'Tesfaye ABERA',
  '31 MAR 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1264'],
 ['49',
  '2:04:24',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1264'],
 ['51',
  '2:04:26',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '30 SEP 2007',
  '1263'],
 ['52',
  '2:04:27',
  'Duncan KIBET',
  '25 APR 1978',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['52',
  '2:04:27',
  'James Kipsang KWAMBAI',
  '28 FEB 1983',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['54',
  '2:04:28',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1263'],
 ['55',
  '2:04:29',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '13 APR 2014',
  '1262'],
 ['56',
  '2:04:31',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '1',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1262'],
 ['57',
  '2:04:32',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '1',
  'Dubai (UAE)',
  '24 JAN 2014',
  '1261'],
 ['57',
  '2:04:32',
  'Dickson CHUMBA',
  '27 OCT 1986',
  'KEN',
  '3',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1261'],
 ['59',
  '2:04:33',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '2',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1261'],
 ['60',
  '2:04:37',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '2',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1260'],
 ['61',
  '2:04:38',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1259'],
 ['62',
  '2:04:40',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '1',
  'London (GBR)',
  '17 APR 2011',
  '1259'],
 ['62',
  '2:04:40',
  'Soloman DEKSISA',
  '11 MAR 1994',
  'ETH',
  '3',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1259'],
 ['62',
  '2:04:40',
  'Reuben Kiprop KIPYEGO',
  '21 AUG 1996',
  'KEN',
  '1',
  'Abu Dhabi (UAE)',
  '06 DEC 2019',
  '1259'],
 ['65',
  '2:04:42',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '26 APR 2015',
  '1258'],
 ['65',
  '2:04:42',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '3',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1258'],
 ['67',
  '2:04:43',
  'El Hassan EL ABBASSI',
  '13 APR 1984',
  'BRN',
  '2',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1258'],
 ['68',
  '2:04:44',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2012',
  '1258'],
 ['68',
  '2:04:44',
  'Seifu TURA',
  '19 JUN 1997',
  'ETH',
  '7',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1258'],
 ['70',
  '2:04:45',
  'Lelisa DESISA',
  '14 JAN 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1257'],
 ['71',
  '2:04:46',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '3',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1257'],
 ['71',
  '2:04:46',
  'Titus EKIRU',
  '02 JAN 1992',
  'KEN',
  '1',
  'Milano (ITA)',
  '07 APR 2019',
  '1257'],
 ['71',
  '2:04:46',
  'Mekuant Ayenew GEBRE',
  '1991',
  'ETH',
  '1',
  'Sevilla (ESP)',
  '23 FEB 2020',
  '1257'],
 ['74',
  '2:04:47',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'London (GBR)',
  '26 APR 2015',
  '1257'],
 ['75',
  '2:04:48',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1256'],
 ['75',
  '2:04:48',
  'Yemane TSEGAY',
  '08 APR 1985',
  'ETH',
  '1',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['75',
  '2:04:48',
  'Berhanu SHIFERAW',
  '31 MAY 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['75',
  '2:04:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '03 MAR 2019',
  '1256'],
 ['79',
  '2:04:49',
  'Tadesse TOLA',
  '31 OCT 1987',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['79',
  '2:04:49',
  'Shura KITATA',
  '09 JUN 1996',
  'ETH',
  '2',
  'London (GBR)',
  '22 APR 2018',
  '1256'],
 ['79',
  '2:04:49',
  'Bashir ABDI',
  '10 FEB 1989',
  'BEL',
  '2',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1256'],
 ['82',
  '2:04:50',
  'Dino SEFIR',
  '28 MAY 1988',
  'ETH',
  '2',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1256'],
 ['82',
  '2:04:50',
  'Getu FELEKE',
  '28 NOV 1986',
  'ETH',
  '2',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['84',
  '2:04:51',
  'Abebe Negewo DEGEFA',
  '20 MAY 1984',
  'ETH',
  '4',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1255'],
 ['84',
  '2:04:51',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1255'],
 ['86',
  '2:04:52',
  'Feyisa LILESA',
  '01 FEB 1990',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1255'],
 ['86',
  '2:04:52',
  'Endeshaw NEGESSE',
  '13 MAR 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Dubai (UAE)',
  '18 JAN 2008',
  '1255'],
 ['88',
  '2:04:53',
  'Bernard Kiprop KOECH',
  '31 JAN 1988',
  'KEN',
  '5',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Mathew Kipkoech KISORIO',
  '16 MAY 1989',
  'KEN',
  '3',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1255'],
 ['88',
  '2:04:53',
  'Deso GELMISA',
  '',
  'ETH',
  '6',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1255'],
 ['92',
  '2:04:54',
  'Markos GENETI',
  '07 JUN 1984',
  'ETH',
  '3',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1255'],
 ['93',
  '2:04:55',
  'Paul TERGAT',
  '17 JUN 1969',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['93',
  '2:04:55',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1254'],
 ['93',
  '2:04:55',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2014',
  '1254'],
 ['96',
  '2:04:56',
  'Sammy Kipchoge KORIR',
  '12 DEC 1971',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['96',
  '2:04:56',
  'Jonathan MAIYO',
  '05 MAY 1988',
  'KEN',
  '4',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1254'],
 ['98',
  '2:04:57',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '31 OCT 2010',
  '1254'],
 ['99',
  '2:04:58',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '1',
  'Ljubljana (SLO)',
  '28 OCT 2018',
  '1253'],
 ['100',
  '2:05:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '13 APR 2014',
  '1253']]

In [22]:
# Creamos una funcion para obtener los datos de la web, pasandole como parametro el número
# de pagina(nos interesan las 15 primeras páginas)
def get_marathon_records_men(page):

    url = "https://www.worldathletics.org/records/all-time-toplists/road-running/marathon/outdoor/men/senior"
    params = {
              "regionType":"world",
              "drop":"regular",
              "fiftyPercentRule":"regular",
              "page":page,
              "bestResultsOnly":"false",
              "firstDay":"1899-12-31",
              "lastDay":"2020-12-09"
             }
    data = requests.get(url, params=params)
    soup = BeautifulSoup(data.text)
    data_scraped = []
    rows = soup.select(".records-table tbody tr")
    for row in rows:
        athlete = []
        for content in row.select("td"):
            if len(content.text) > 0:
                athlete.append(content.text.strip())
        data_scraped.append(athlete)
    return data_scraped

In [45]:
get_marathon_records_men(1)

[['1',
  '2:01:39',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '16 SEP 2018',
  '1316'],
 ['2',
  '2:01:41',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '29 SEP 2019',
  '1315'],
 ['3',
  '2:02:37',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '28 APR 2019',
  '1297'],
 ['4',
  '2:02:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '2',
  'Berlin (GER)',
  '29 SEP 2019',
  '1294'],
 ['5',
  '2:02:55',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '2',
  'London (GBR)',
  '28 APR 2019',
  '1292'],
 ['6',
  '2:02:57',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2014',
  '1291'],
 ['7',
  '2:03:00',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '1',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1290'],
 ['8',
  '2:03:03',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '25 SEP 2016',
  '1289'],
 ['9',
  '2:03:04',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '2',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1289'],
 ['10',
  '2:03:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '24 APR 2016',
  '1288'],
 ['11',
  '2:03:13',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2014',
  '1286'],
 ['11',
  '2:03:13',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'Berlin (GER)',
  '25 SEP 2016',
  '1286'],
 ['13',
  '2:03:16',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '3',
  'London (GBR)',
  '28 APR 2019',
  '1285'],
 ['13',
  '2:03:16',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '3',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1285'],
 ['15',
  '2:03:23',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Berlin (GER)',
  '29 SEP 2013',
  '1283'],
 ['16',
  '2:03:30',
  'Amos KIPRUTO',
  '16 SEP 1992',
  'KEN',
  '4',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1281'],
 ['17',
  '2:03:32',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '24 SEP 2017',
  '1280'],
 ['18',
  '2:03:34',
  'Getaneh MOLLA',
  '10 JAN 1994',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1279'],
 ['19',
  '2:03:36',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Berlin (GER)',
  '29 SEP 2019',
  '1279'],
 ['20',
  '2:03:38',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Berlin (GER)',
  '25 SEP 2011',
  '1278'],
 ['21',
  '2:03:40',
  'Herpasa NEGASA',
  '11 SEP 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1278'],
 ['22',
  '2:03:42',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1277'],
 ['23',
  '2:03:45',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1276'],
 ['24',
  '2:03:46',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '2',
  'Berlin (GER)',
  '24 SEP 2017',
  '1276'],
 ['25',
  '2:03:51',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '24 APR 2016',
  '1274'],
 ['25',
  '2:03:51',
  'Kinde ATANAW',
  '15 APR 1993',
  'ETH',
  '1',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1274'],
 ['27',
  '2:03:52',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1274'],
 ['28',
  '2:03:58',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Tokyo (JPN)',
  '26 FEB 2017',
  '1272'],
 ['29',
  '2:03:59',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '28 SEP 2008',
  '1272'],
 ['30',
  '2:04:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '27 SEP 2015',
  '1271'],
 ['30',
  '2:04:00',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['32',
  '2:04:02',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '2',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['33',
  '2:04:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '29 SEP 2013',
  '1270'],
 ['34',
  '2:04:06',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '3',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1269'],
 ['37',
  '2:04:08',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '5',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['38',
  '2:04:11',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1268'],
 ['38',
  '2:04:11',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '1',
  'Dubai (UAE)',
  '20 JAN 2017',
  '1268'],
 ['38',
  '2:04:11',
  'Marius KIPSEREM',
  '17 MAY 1988',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '07 APR 2019',
  '1268'],
 ['41',
  '2:04:12',
  'Reuben KERIO',
  '02 JUN 1994',
  'KEN',
  '5',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1268'],
 ['42',
  '2:04:15',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '1',
  'Berlin (GER)',
  '30 SEP 2012',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '6',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1267'],
 ['45',
  '2:04:16',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '30 SEP 2012',
  '1266'],
 ['45',
  '2:04:16',
  'Kaan Kigen ÖZBILEN',
  '15 JAN 1986',
  'TUR',
  '2',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1266'],
 ['47',
  '2:04:17',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2018',
  '1266'],
 ['48',
  '2:04:23',
  'Ayele ABSHERO',
  '28 DEC 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1264'],
 ['49',
  '2:04:24',
  'Tesfaye ABERA',
  '31 MAR 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1264'],
 ['49',
  '2:04:24',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1264'],
 ['51',
  '2:04:26',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '30 SEP 2007',
  '1263'],
 ['52',
  '2:04:27',
  'Duncan KIBET',
  '25 APR 1978',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['52',
  '2:04:27',
  'James Kipsang KWAMBAI',
  '28 FEB 1983',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['54',
  '2:04:28',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1263'],
 ['55',
  '2:04:29',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '13 APR 2014',
  '1262'],
 ['56',
  '2:04:31',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '1',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1262'],
 ['57',
  '2:04:32',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '1',
  'Dubai (UAE)',
  '24 JAN 2014',
  '1261'],
 ['57',
  '2:04:32',
  'Dickson CHUMBA',
  '27 OCT 1986',
  'KEN',
  '3',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1261'],
 ['59',
  '2:04:33',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '2',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1261'],
 ['60',
  '2:04:37',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '2',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1260'],
 ['61',
  '2:04:38',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1259'],
 ['62',
  '2:04:40',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '1',
  'London (GBR)',
  '17 APR 2011',
  '1259'],
 ['62',
  '2:04:40',
  'Soloman DEKSISA',
  '11 MAR 1994',
  'ETH',
  '3',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1259'],
 ['62',
  '2:04:40',
  'Reuben Kiprop KIPYEGO',
  '21 AUG 1996',
  'KEN',
  '1',
  'Abu Dhabi (UAE)',
  '06 DEC 2019',
  '1259'],
 ['65',
  '2:04:42',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '26 APR 2015',
  '1258'],
 ['65',
  '2:04:42',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '3',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1258'],
 ['67',
  '2:04:43',
  'El Hassan EL ABBASSI',
  '13 APR 1984',
  'BRN',
  '2',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1258'],
 ['68',
  '2:04:44',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2012',
  '1258'],
 ['68',
  '2:04:44',
  'Seifu TURA',
  '19 JUN 1997',
  'ETH',
  '7',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1258'],
 ['70',
  '2:04:45',
  'Lelisa DESISA',
  '14 JAN 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1257'],
 ['71',
  '2:04:46',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '3',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1257'],
 ['71',
  '2:04:46',
  'Titus EKIRU',
  '02 JAN 1992',
  'KEN',
  '1',
  'Milano (ITA)',
  '07 APR 2019',
  '1257'],
 ['71',
  '2:04:46',
  'Mekuant Ayenew GEBRE',
  '1991',
  'ETH',
  '1',
  'Sevilla (ESP)',
  '23 FEB 2020',
  '1257'],
 ['74',
  '2:04:47',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'London (GBR)',
  '26 APR 2015',
  '1257'],
 ['75',
  '2:04:48',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1256'],
 ['75',
  '2:04:48',
  'Yemane TSEGAY',
  '08 APR 1985',
  'ETH',
  '1',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['75',
  '2:04:48',
  'Berhanu SHIFERAW',
  '31 MAY 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['75',
  '2:04:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '03 MAR 2019',
  '1256'],
 ['79',
  '2:04:49',
  'Tadesse TOLA',
  '31 OCT 1987',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['79',
  '2:04:49',
  'Shura KITATA',
  '09 JUN 1996',
  'ETH',
  '2',
  'London (GBR)',
  '22 APR 2018',
  '1256'],
 ['79',
  '2:04:49',
  'Bashir ABDI',
  '10 FEB 1989',
  'BEL',
  '2',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1256'],
 ['82',
  '2:04:50',
  'Dino SEFIR',
  '28 MAY 1988',
  'ETH',
  '2',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1256'],
 ['82',
  '2:04:50',
  'Getu FELEKE',
  '28 NOV 1986',
  'ETH',
  '2',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['84',
  '2:04:51',
  'Abebe Negewo DEGEFA',
  '20 MAY 1984',
  'ETH',
  '4',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1255'],
 ['84',
  '2:04:51',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1255'],
 ['86',
  '2:04:52',
  'Feyisa LILESA',
  '01 FEB 1990',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1255'],
 ['86',
  '2:04:52',
  'Endeshaw NEGESSE',
  '13 MAR 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Dubai (UAE)',
  '18 JAN 2008',
  '1255'],
 ['88',
  '2:04:53',
  'Bernard Kiprop KOECH',
  '31 JAN 1988',
  'KEN',
  '5',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Mathew Kipkoech KISORIO',
  '16 MAY 1989',
  'KEN',
  '3',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1255'],
 ['88',
  '2:04:53',
  'Deso GELMISA',
  '',
  'ETH',
  '6',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1255'],
 ['92',
  '2:04:54',
  'Markos GENETI',
  '07 JUN 1984',
  'ETH',
  '3',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1255'],
 ['93',
  '2:04:55',
  'Paul TERGAT',
  '17 JUN 1969',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['93',
  '2:04:55',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1254'],
 ['93',
  '2:04:55',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2014',
  '1254'],
 ['96',
  '2:04:56',
  'Sammy Kipchoge KORIR',
  '12 DEC 1971',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['96',
  '2:04:56',
  'Jonathan MAIYO',
  '05 MAY 1988',
  'KEN',
  '4',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1254'],
 ['98',
  '2:04:57',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '31 OCT 2010',
  '1254'],
 ['99',
  '2:04:58',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '1',
  'Ljubljana (SLO)',
  '28 OCT 2018',
  '1253'],
 ['100',
  '2:05:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '13 APR 2014',
  '1253']]

In [26]:
# Creamos una lista vacia e iteramos sobre nuestra función get_marathon_records_men para obtener 
# los primeros 7100 mejores tiempos. Esta lista vacia se va rellenando con los datos de cada
# página.

top_7100_marathon_times_men = []
for i in range(1,72):
    top_7100_marathon_times_men += get_marathon_records_men(i)

top_7100_marathon_times_men

[['1',
  '2:01:39',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '16 SEP 2018',
  '1316'],
 ['2',
  '2:01:41',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '29 SEP 2019',
  '1315'],
 ['3',
  '2:02:37',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '28 APR 2019',
  '1297'],
 ['4',
  '2:02:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '2',
  'Berlin (GER)',
  '29 SEP 2019',
  '1294'],
 ['5',
  '2:02:55',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '2',
  'London (GBR)',
  '28 APR 2019',
  '1292'],
 ['6',
  '2:02:57',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2014',
  '1291'],
 ['7',
  '2:03:00',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '1',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1290'],
 ['8',
  '2:03:03',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '25 SEP 2016',
  '1289'],
 ['9',
  '2:03:04',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '2',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1289'],
 ['10',
  '2:03:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '24 APR 2016',
  '1288'],
 ['11',
  '2:03:13',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2014',
  '1286'],
 ['11',
  '2:03:13',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'Berlin (GER)',
  '25 SEP 2016',
  '1286'],
 ['13',
  '2:03:16',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '3',
  'London (GBR)',
  '28 APR 2019',
  '1285'],
 ['13',
  '2:03:16',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '3',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1285'],
 ['15',
  '2:03:23',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Berlin (GER)',
  '29 SEP 2013',
  '1283'],
 ['16',
  '2:03:30',
  'Amos KIPRUTO',
  '16 SEP 1992',
  'KEN',
  '4',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1281'],
 ['17',
  '2:03:32',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '24 SEP 2017',
  '1280'],
 ['18',
  '2:03:34',
  'Getaneh MOLLA',
  '10 JAN 1994',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1279'],
 ['19',
  '2:03:36',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Berlin (GER)',
  '29 SEP 2019',
  '1279'],
 ['20',
  '2:03:38',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Berlin (GER)',
  '25 SEP 2011',
  '1278'],
 ['21',
  '2:03:40',
  'Herpasa NEGASA',
  '11 SEP 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1278'],
 ['22',
  '2:03:42',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1277'],
 ['23',
  '2:03:45',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1276'],
 ['24',
  '2:03:46',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '2',
  'Berlin (GER)',
  '24 SEP 2017',
  '1276'],
 ['25',
  '2:03:51',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '24 APR 2016',
  '1274'],
 ['25',
  '2:03:51',
  'Kinde ATANAW',
  '15 APR 1993',
  'ETH',
  '1',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1274'],
 ['27',
  '2:03:52',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1274'],
 ['28',
  '2:03:58',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Tokyo (JPN)',
  '26 FEB 2017',
  '1272'],
 ['29',
  '2:03:59',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '28 SEP 2008',
  '1272'],
 ['30',
  '2:04:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '27 SEP 2015',
  '1271'],
 ['30',
  '2:04:00',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['32',
  '2:04:02',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '2',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['33',
  '2:04:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '29 SEP 2013',
  '1270'],
 ['34',
  '2:04:06',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '3',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1269'],
 ['37',
  '2:04:08',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '5',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['38',
  '2:04:11',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1268'],
 ['38',
  '2:04:11',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '1',
  'Dubai (UAE)',
  '20 JAN 2017',
  '1268'],
 ['38',
  '2:04:11',
  'Marius KIPSEREM',
  '17 MAY 1988',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '07 APR 2019',
  '1268'],
 ['41',
  '2:04:12',
  'Reuben Kiprop KIPYEGO',
  '21 AUG 1996',
  'KEN',
  '5',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1268'],
 ['42',
  '2:04:15',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '1',
  'Berlin (GER)',
  '30 SEP 2012',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '6',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1267'],
 ['45',
  '2:04:16',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '30 SEP 2012',
  '1266'],
 ['45',
  '2:04:16',
  'Kaan Kigen ÖZBILEN',
  '15 JAN 1986',
  'TUR',
  '2',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1266'],
 ['47',
  '2:04:17',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2018',
  '1266'],
 ['48',
  '2:04:23',
  'Ayele ABSHERO',
  '28 DEC 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1264'],
 ['49',
  '2:04:24',
  'Tesfaye ABERA',
  '31 MAR 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1264'],
 ['49',
  '2:04:24',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1264'],
 ['51',
  '2:04:26',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '30 SEP 2007',
  '1263'],
 ['52',
  '2:04:27',
  'Duncan KIBET',
  '25 APR 1978',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['52',
  '2:04:27',
  'James Kipsang KWAMBAI',
  '28 FEB 1983',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['54',
  '2:04:28',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1263'],
 ['55',
  '2:04:29',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '13 APR 2014',
  '1262'],
 ['56',
  '2:04:31',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '1',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1262'],
 ['57',
  '2:04:32',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '1',
  'Dubai (UAE)',
  '24 JAN 2014',
  '1261'],
 ['57',
  '2:04:32',
  'Dickson CHUMBA',
  '27 OCT 1986',
  'KEN',
  '3',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1261'],
 ['59',
  '2:04:33',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '2',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1261'],
 ['60',
  '2:04:37',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '2',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1260'],
 ['61',
  '2:04:38',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1259'],
 ['62',
  '2:04:40',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '1',
  'London (GBR)',
  '17 APR 2011',
  '1259'],
 ['62',
  '2:04:40',
  'Soloman DEKSISA',
  '11 MAR 1994',
  'ETH',
  '3',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1259'],
 ['62',
  '2:04:40',
  'Reuben Kiprop KIPYEGO',
  '21 AUG 1996',
  'KEN',
  '1',
  'Abu Dhabi (UAE)',
  '06 DEC 2019',
  '1259'],
 ['65',
  '2:04:42',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '26 APR 2015',
  '1258'],
 ['65',
  '2:04:42',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '3',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1258'],
 ['67',
  '2:04:43',
  'El Hassan EL ABBASSI',
  '13 APR 1984',
  'BRN',
  '2',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1258'],
 ['68',
  '2:04:44',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2012',
  '1258'],
 ['68',
  '2:04:44',
  'Seifu TURA',
  '19 JUN 1997',
  'ETH',
  '7',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1258'],
 ['70',
  '2:04:45',
  'Lelisa DESISA',
  '14 JAN 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1257'],
 ['71',
  '2:04:46',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '3',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1257'],
 ['71',
  '2:04:46',
  'Titus EKIRU',
  '02 JAN 1992',
  'KEN',
  '1',
  'Milano (ITA)',
  '07 APR 2019',
  '1257'],
 ['71',
  '2:04:46',
  'Mekuant Ayenew GEBRE',
  '1991',
  'ETH',
  '1',
  'Sevilla (ESP)',
  '23 FEB 2020',
  '1257'],
 ['74',
  '2:04:47',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'London (GBR)',
  '26 APR 2015',
  '1257'],
 ['75',
  '2:04:48',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1256'],
 ['75',
  '2:04:48',
  'Yemane TSEGAY',
  '08 APR 1985',
  'ETH',
  '1',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['75',
  '2:04:48',
  'Berhanu SHIFERAW',
  '31 MAY 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['75',
  '2:04:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '03 MAR 2019',
  '1256'],
 ['79',
  '2:04:49',
  'Tadesse TOLA',
  '31 OCT 1987',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['79',
  '2:04:49',
  'Shura KITATA',
  '09 JUN 1996',
  'ETH',
  '2',
  'London (GBR)',
  '22 APR 2018',
  '1256'],
 ['79',
  '2:04:49',
  'Bashir ABDI',
  '10 FEB 1989',
  'BEL',
  '2',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1256'],
 ['82',
  '2:04:50',
  'Dino SEFIR',
  '28 MAY 1988',
  'ETH',
  '2',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1256'],
 ['82',
  '2:04:50',
  'Getu FELEKE',
  '28 NOV 1986',
  'ETH',
  '2',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['84',
  '2:04:51',
  'Abebe Negewo DEGEFA',
  '20 MAY 1984',
  'ETH',
  '4',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1255'],
 ['84',
  '2:04:51',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1255'],
 ['86',
  '2:04:52',
  'Feyisa LILESA',
  '01 FEB 1990',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1255'],
 ['86',
  '2:04:52',
  'Endeshaw NEGESSE',
  '13 MAR 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Dubai (UAE)',
  '18 JAN 2008',
  '1255'],
 ['88',
  '2:04:53',
  'Bernard Kiprop KOECH',
  '31 JAN 1988',
  'KEN',
  '5',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Mathew Kipkoech KISORIO',
  '16 MAY 1989',
  'KEN',
  '3',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1255'],
 ['88',
  '2:04:53',
  'Deso GELMISA',
  '',
  'ETH',
  '6',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1255'],
 ['92',
  '2:04:54',
  'Markos GENETI',
  '07 JUN 1984',
  'ETH',
  '3',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1255'],
 ['93',
  '2:04:55',
  'Paul TERGAT',
  '17 JUN 1969',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['93',
  '2:04:55',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1254'],
 ['93',
  '2:04:55',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2014',
  '1254'],
 ['96',
  '2:04:56',
  'Sammy Kipchoge KORIR',
  '12 DEC 1971',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['96',
  '2:04:56',
  'Jonathan MAIYO',
  '05 MAY 1988',
  'KEN',
  '4',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1254'],
 ['98',
  '2:04:57',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '31 OCT 2010',
  '1254'],
 ['99',
  '2:04:58',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '1',
  'Ljubljana (SLO)',
  '28 OCT 2018',
  '1253'],
 ['100',
  '2:05:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '13 APR 2014',
  '1253'],
 ['100',
  '2:05:00',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '1',
  'Buenos Aires (ARG)',
  '22 SEP 2019',
  '1253'],
 ['100',
  '2:05:00',
  'Philemon RONO',
  '08 FEB 1991',
  'KEN',
  '1',
  'Toronto (CAN)',
  '20 OCT 2019',
  '1253'],
 ['103',
  '2:05:01',
  'Shura KITATA',
  '09 JUN 1996',
  'ETH',
  '4',
  'London (GBR)',
  '28 APR 2019',
  '1252'],
 ['104',
  '2:05:02',
  'Emmanuel SAINA',
  '06 SEP 1992',
  'KEN',
  '4',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1252'],
 ['105',
  '2:05:03',
  'Moses MOSOP',
  '07 JUL 1985',
  'KEN',
  '3',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1252'],
 ['106',
  '2:05:04',
  'Abel KIRUI',
  '04 JUN 1982',
  'KEN',
  '3',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1251'],
 ['106',
  '2:05:04',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Paris (FRA)',
  '06 APR 2014',
  '1251'],
 ['108',
  '2:05:05',
  'Barnabas KIPTUM',
  '08 DEC 1986',
  'KEN',
  '2',
  'Sevilla (ESP)',
  '23 FEB 2020',
  '1251'],
 ['108',
  '2:05:05',
  'Abel KIRUI',
  '04 JUN 1982',
  'KEN',
  '7',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1251'],
 ['110',
  '2:05:06',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '1',
  'New York, NY (USA)',
  '06 NOV 2011',
  '1251'],
 ['111',
  '2:05:08',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Berlin (GER)',
  '26 SEP 2010',
  '1250'],
 ['112',
  '2:05:09',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '15 OCT 2017',
  '1250'],
 ['112',
  '2:05:09',
  'Vincent KIPCHUMBA',
  '03 AUG 1990',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1250'],
 ['112',
  '2:05:09',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '2',
  'Toronto (CAN)',
  '20 OCT 2019',
  '1250'],
 ['115',
  '2:05:10',
  'Samuel Kamau WANJIRU',
  '10 NOV 1986',
  'KEN',
  '1',
  'London (GBR)',
  '26 APR 2009',
  '1250'],
 ['115',
  '2:05:10',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '2',
  'Berlin (GER)',
  '26 SEP 2010',
  '1250'],
 ['115',
  '2:05:10',
  'Tadesse TOLA',
  '31 OCT 1987',
  'ETH',
  '5',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1250'],
 ['118',
  '2:05:11',
  'Mo FARAH',
  '23 MAR 1983',
  'GBR',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2018',
  '1249'],
 ['119',
  '2:05:12',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '1',
  'Paris (FRA)',
  '15 APR 2012',
  '1249'],
 ['119',
  '2:05:12',
  'Felix CHEMONGES',
  '10 OCT 1995',
  'UGA',
  '3',
  'Toronto (CAN)',
  '20 OCT 2019',
  '1249'],
 ['121',
  '2:05:13',
  'Vincent KIPRUTO',
  '13 SEP 1987',
  'KEN',
  '3',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1249'],
 ['121',
  '2:05:13',
  'Markos GENETI',
  '07 JUN 1984',
  'ETH',
  '2',
  'Dubai (UAE)',
  '24 JAN 2014',
  '1249'],
 ['121',
  '2:05:13',
  'Wilson Loyanae ERUPE',
  '20 NOV 1988',
  'KEN',
  '1',
  'Seoul (KOR)',
  '20 MAR 2016',
  '1249'],
 ['121',
  '2:05:13',
  'Nobert KIGEN',
  '24 JAN 1993',
  'KEN',
  '2',
  'Amsterdam (NED)',
  '15 OCT 2017',
  '1249'],
 ['121',
  '2:05:13',
  'Benson KIPRUTO',
  '17 MAR 1991',
  'KEN',
  '4',
  'Toronto (CAN)',
  '20 OCT 2019',
  '1249'],
 ['126',
  '2:05:15',
  'Martin Kiptolo LEL',
  '29 OCT 1978',
  'KEN',
  '1',
  'London (GBR)',
  '13 APR 2008',
  '1248'],
 ['126',
  '2:05:15',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '1',
  'Valencia (ESP)',
  '19 NOV 2017',
  '1248'],
 ['126',
  '2:05:15',
  'Abebe Negewo DEGEFA',
  '20 MAY 1984',
  'ETH',
  '8',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1248'],
 ['129',
  '2:05:16',
  'Levi Omari MATEBO',
  '03 NOV 1989',
  'KEN',
  '2',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1248'],
 ['129',
  '2:05:16',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '3',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1248'],
 ['129',
  '2:05:16',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '4',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1248'],
 ['129',
  '2:05:16',
  'Soloman DEKSISA',
  '11 MAR 1994',
  'ETH',
  '2',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1248'],
 ['133',
  '2:05:18',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'Fukuoka (JPN)',
  '06 DEC 2009',
  '1247'],
 ['133',
  '2:05:18',
  'Shifera TAMRU',
  '01 OCT 1998',
  'ETH',
  '5',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1247'],
 ['133',
  '2:05:18',
  'Reuben Kiprop KIPYEGO',
  '21 AUG 1996',
  'KEN',
  '2',
  'Buenos Aires (ARG)',
  '22 SEP 2019',
  '1247'],
 ['133',
  '2:05:18',
  'Elisha ROTICH',
  '12 APR 1990',
  'KEN',
  '3',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1247'],
 ['137',
  '2:05:19',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'London (GBR)',
  '25 APR 2010',
  '1247'],
 ['138',
  '2:05:20',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '2',
  'London (GBR)',
  '26 APR 2009',
  '1246'],
 ['139',
  '2:05:21',
  'Eliud KIPTANUI',
  '06 JUN 1989',
  'KEN',
  '2',
  'Berlin (GER)',
  '27 SEP 2015',
  '1246'],
 ['139',
  '2:05:21',
  'Daniel KINYUA',
  '25 MAY 1992',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '16 OCT 2016',
  '1246'],
 ['139',
  '2:05:21',
  'Emmanuel SAINA',
  '06 SEP 1992',
  'KEN',
  '1',
  'Buenos Aires (ARG)',
  '23 SEP 2018',
  '1246'],
 ['139',
  '2:05:21',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '4',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1246'],
 ['143',
  '2:05:22',
  'Nobert KIGEN',
  '24 JAN 1993',
  'KEN',
  '5',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1246'],
 ['144',
  '2:05:23',
  'Feyisa LILESA',
  '01 FEB 1990',
  'ETH',
  '4',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1246'],
 ['145',
  '2:05:24',
  'Samuel Kamau WANJIRU',
  '10 NOV 1986',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2008',
  '1245'],
 ['145',
  '2:05:24',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '07 OCT 2018',
  '1245'],
 ['147',
  '2:05:25',
  'Bazu WORKU HAYLA',
  '15 SEP 1990',
  'ETH',
  '3',
  'Berlin (GER)',
  '26 SEP 2010',
  '1245'],
 ['147',
  '2:05:25',
  'Albert Kiplagat MATEBOR',
  '25 DEC 1980',
  'KEN',
  '3',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1245'],
 ['149',
  '2:05:26',
  'Abraham KIPTUM',
  '15 SEP 1989',
  'KEN',
  '3',
  'Amsterdam (NED)',
  '15 OCT 2017',
  '1245'],
 ['149',
  '2:05:26',
  'El Mahjoub DAZZA',
  '03 MAR 1991',
  'MAR',
  '6',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1245'],
 ['151',
  '2:05:27',
  'Jaouad GHARIB',
  '22 MAY 1972',
  'MAR',
  '3',
  'London (GBR)',
  '26 APR 2009',
  '1244'],
 ['151',
  '2:05:27',
  'Wilson Kwambai CHEBET',
  '12 JUL 1985',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '10 APR 2011',
  '1244'],
 ['151',
  '2:05:27',
  'Tilahun REGASSA',
  '18 JAN 1990',
  'ETH',
  '3',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1244'],
 ['151',
  '2:05:27',
  'Kaan Kigen ÖZBILEN',
  '15 JAN 1986',
  'TUR',
  '2',
  'Rotterdam (NED)',
  '07 APR 2019',
  '1244'],
 ['155',
  '2:05:28',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '1',
  'Dubai (UAE)',
  '23 JAN 2015',
  '1244'],
 ['155',
  '2:05:28',
  'Betesfa GETAHUN',
  '25 SEP 1998',
  'ETH',
  '4',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1244'],
 ['157',
  '2:05:29',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1f1',
  'Dubai (UAE)',
  '16 JAN 2009',
  '1244'],
 ['157',
  '2:05:29',
  'Shifera TAMRU',
  '01 OCT 1998',
  'ETH',
  '1',
  'Seoul (KOR)',
  '03 NOV 2019',
  '1244'],
 ['157',
  '2:05:29',
  'Suguru OSAKO',
  '23 MAY 1991',
  'JPN',
  '4',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1244'],
 ['157',
  '2:05:29',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '9',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1244'],
 ['161',
  '2:05:30',
  'Abderrahim GOUMRI',
  '21 MAY 1976',
  'MAR',
  '3',
  'London (GBR)',
  '13 APR 2008',
  '1243'],
 ['161',
  '2:05:30',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Hamburg (GER)',
  '21 APR 2013',
  '1243'],
 ['161',
  '2:05:30',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '2',
  'Valencia (ESP)',
  '19 NOV 2017',
  '1243'],
 ['161',
  '2:05:30',

In [28]:
# Volcamos todos estos datos en un dataset. Ya podemos empezar a trabajar sobre ellos!
df_7100_top_men = pd.DataFrame(top_7100_marathon_times_men)
df_7100_top_men

,0,1,2,3,4,5,6,7,8
0,1,2:01:39,Eliud KIPCHOGE,05 NOV 1984,KEN,1,Berlin (GER),16 SEP 2018,1316
1,2,2:01:41,Kenenisa BEKELE,13 JUN 1982,ETH,1,Berlin (GER),29 SEP 2019,1315
2,3,2:02:37,Eliud KIPCHOGE,05 NOV 1984,KEN,1,London (GBR),28 APR 2019,1297
3,4,2:02:48,Birhanu LEGESE,11 SEP 1994,ETH,2,Berlin (GER),29 SEP 2019,1294
4,5,2:02:55,Mosinet GEREMEW,12 FEB 1992,ETH,2,London (GBR),28 APR 2019,1292
...,...,...,...,...,...,...,...,...,...
7070,7029,2:12:00,Alemayehu Ameta BELACHEW,1977,ETH,2,La Rochelle (FRA),26 NOV 2017,1126
7071,7029,2:12:00,Nicholas ROTICH,29 DEC 1996,KEN,4,Wien (AUT),22 APR 2018,1126
7072,7029,2:12:00,Daniele MEUCCI,07 OCT 1985,ITA,15,Hamburg (GER),28 APR 2019,1126
7073,7029,2:12:00,Victor Kiplagat SEREM,,KEN,3,Nairobi (KEN),27 OCT 2019,1126
7074,7029,2:12:00,Felix KIMUTAI,12 FEB 1989,KEN,2,Istanbul (TUR),08 NOV 2020,1126

In [29]:
df_7100_top_men.to_csv("output/data_7100_top_men.csv")

In [11]:
# We will repeat the process to get also the best times for women.

In [12]:
# Creamos una funcion para obtener los datos de la web, pasandole como parametro el número
# de pagina(nos interesan las 15 primeras páginas)
def get_marathon_records_women(page):

    url = "https://www.worldathletics.org/records/all-time-toplists/road-running/marathon/outdoor/women/senior"
    params = {
              "regionType":"world",
              "drop":"regular",
              "fiftyPercentRule":"regular",
              "page":page,
              "bestResultsOnly":"false",
              "firstDay":"1899-12-31",
              "lastDay":"2020-12-09"
             }
    data = requests.get(url, params=params)
    soup = BeautifulSoup(data.text)
    data_scraped = []
    rows = soup.select(".records-table tbody tr")
    for row in rows:
        athlete = []
        for content in row.select("td"):
            if len(content.text) > 0:
                athlete.append(content.text.strip())
        data_scraped.append(athlete)
    return data_scraped

In [14]:
# Creamos una lista vacia e iteramos sobre nuestra función get_marathon_records_men para obtener 
# los primeros 1500 mejores tiempos. Esta lista vacia se va rellenando con los datos de cada
# página.

top_1500_marathon_times_women = []
for i in range(1,16):
    top_1500_marathon_times_women += get_marathon_records_women(i)

top_1500_marathon_times_women

[['1',
  '2:14:04',
  'Brigid KOSGEI',
  '20 FEB 1994',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '13 OCT 2019',
  '1295'],
 ['2',
  '2:15:25',
  'Paula RADCLIFFE',
  '17 DEC 1973',
  'GBR',
  '1',
  'London (GBR)',
  '13 APR 2003',
  '1281'],
 ['3',
  '2:17:01',
  'Mary Jepkosgei KEITANY',
  '18 JAN 1982',
  'KEN',
  '1',
  'London (GBR)',
  '23 APR 2017',
  '1264'],
 ['4',
  '2:17:08',
  'Ruth CHEPNGETICH',
  '08 AUG 1994',
  'KEN',
  '1',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1263'],
 ['5',
  '2:17:16',
  'Peres JEPCHIRCHIR',
  '27 SEP 1993',
  'KEN',
  '1',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1262'],
 ['6',
  '2:17:18',
  'Paula RADCLIFFE',
  '17 DEC 1973',
  'GBR',
  '1',
  'Chicago, IL (USA)',
  '13 OCT 2002',
  '1261'],
 ['7',
  '2:17:41',
  'Worknesh DEGEFA',
  '28 OCT 1990',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1257'],
 ['8',
  '2:17:42',
  'Paula RADCLIFFE',
  '17 DEC 1973',
  'GBR',
  '1',
  'London (GBR)',
  '17 APR 2005',
  '1257'],
 ['9',
  '2:17:45',
  'Lonah Chemtai SALPETER',
  '12 DEC 1988',
  'ISR',
  '1',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1257'],
 ['10',
  '2:17:56',
  'Tirunesh DIBABA',
  '01 OCT 1985',
  'ETH',
  '2',
  'London (GBR)',
  '23 APR 2017',
  '1255'],
 ['11',
  '2:18:11',
  'Gladys CHERONO',
  '12 MAY 1983',
  'KEN',
  '1',
  'Berlin (GER)',
  '16 SEP 2018',
  '1252'],
 ['12',
  '2:18:20',
  'Brigid KOSGEI',
  '20 FEB 1994',
  'KEN',
  '1',
  'London (GBR)',
  '28 APR 2019',
  '1250'],
 ['13',
  '2:18:30',
  'Roza DEREJE',
  '09 MAY 1997',
  'ETH',
  '1',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1249'],
 ['14',
  '2:18:31',
  'Tirunesh DIBABA',
  '01 OCT 1985',
  'ETH',
  '1',
  'Chicago, IL (USA)',
  '08 OCT 2017',
  '1249'],
 ['14',
  '2:18:31',
  'Vivian Jepkemoi CHERUIYOT',
  '11 SEP 1983',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2018',
  '1249'],
 ['16',
  '2:18:33',
  'Azmera ABREHA',
  '31 JAN 1998',
  'ETH',
  '2',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1248'],
 ['17',
  '2:18:34',
  'Ruti AGA',
  '16 JAN 1994',
  'ETH',
  '2',
  'Berlin (GER)',
  '16 SEP 2018',
  '1248'],
 ['18',
  '2:18:35',
  'Brigid KOSGEI',
  '20 FEB 1994',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2018',
  '1248'],
 ['18',
  '2:18:35',
  'Ruth CHEPNGETICH',
  '08 AUG 1994',
  'KEN',
  '1',
  'Istanbul (TUR)',
  '11 NOV 2018',
  '1248'],
 ['18',
  '2:18:35',
  'Birhane DIBABA',
  '11 SEP 1993',
  'ETH',
  '2',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1248'],
 ['21',
  '2:18:37',
  'Mary Jepkosgei KEITANY',
  '18 JAN 1982',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2012',
  '1248'],
 ['22',
  '2:18:40',
  'Joyciline JEPKOSGEI',
  '08 DEC 1993',
  'KEN',
  '2',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1247'],
 ['23',
  '2:18:46',
  'Birhane DIBABA',
  '11 SEP 1993',
  'ETH',
  '3',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1246'],
 ['24',
  '2:18:47',
  'Catherine NDEREBA',
  '21 JUL 1972',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2001',
  '1246'],
 ['25',
  '2:18:52',
  'Vivian Jepkemoi CHERUIYOT',
  '11 SEP 1983',
  'KEN',
  '4',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1245'],
 ['26',
  '2:18:55',
  'Tirunesh DIBABA',
  '01 OCT 1985',
  'ETH',
  '3',
  'Berlin (GER)',
  '16 SEP 2018',
  '1244'],
 ['27',
  '2:18:56',
  'Paula RADCLIFFE',
  '17 DEC 1973',
  'GBR',
  '1',
  'London (GBR)',
  '14 APR 2002',
  '1244'],
 ['28',
  '2:18:58',
  'Tiki GELANA',
  '22 OCT 1987',
  'ETH',
  '1',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1244'],
 ['28',
  '2:18:58',
  'Brigid KOSGEI',
  '20 FEB 1994',
  'KEN',
  '1',
  'London (GBR)',
  '04 OCT 2020',
  '1244'],
 ['30',
  '2:19:10',
  'Valary JEMELI',
  '08 JUN 1991',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '27 OCT 2019',
  '1242'],
 ['31',
  '2:19:12',
  'Mizuki NOGUCHI',
  '03 JUL 1978',
  'JPN',
  '1',
  'Berlin (GER)',
  '25 SEP 2005',
  '1242'],
 ['32',
  '2:19:17',
  'Roza DEREJE',
  '09 MAY 1997',
  'ETH',
  '1',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1241'],
 ['33',
  '2:19:19',
  'Irina MIKITENKO',
  '23 AUG 1972',
  'GER',
  '1',
  'Berlin (GER)',
  '28 SEP 2008',
  '1240'],
 ['33',
  '2:19:19',
  'Mary Jepkosgei KEITANY',
  '18 JAN 1982',
  'KEN',
  '1',
  'London (GBR)',
  '17 APR 2011',
  '1240'],
 ['35',
  '2:19:25',
  'Gladys CHERONO',
  '12 MAY 1983',
  'KEN',
  '1',
  'Berlin (GER)',
  '27 SEP 2015',
  '1239'],
 ['36',
  '2:19:26',
  'Catherine NDEREBA',
  '21 JUL 1972',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '13 OCT 2002',
  '1239'],
 ['36',
  '2:19:26',
  'Degitu AZIMERAW',
  '24 JAN 1999',
  'ETH',
  '1',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1239'],
 ['38',
  '2:19:28',
  'Zeineba YIMER',
  '17 JUN 1998',
  'ETH',
  '5',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1239'],
 ['39',
  '2:19:30',
  'Boru Feyse TADESE',
  '19 NOV 1988',
  'ETH',
  '2',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1238'],
 ['40',
  '2:19:31',
  'Asselefech MEDESSA MERGIA',
  '23 JAN 1985',
  'ETH',
  '1',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1238'],
 ['41',
  '2:19:34',
  'Lucy Kabuu WANGUI',
  '24 MAR 1984',
  'KEN',
  '2',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1238'],
 ['42',
  '2:19:36',
  'Deena KASTOR',
  '14 FEB 1973',
  'USA',
  '1',
  'London (GBR)',
  '23 APR 2006',
  '1237'],
 ['42',
  '2:19:36',
  'Yebrgual MELESE',
  '18 APR 1990',
  'ETH',
  '3',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1237'],
 ['44',
  '2:19:38',
  'Worknesh DEGEFA',
  '28 OCT 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '24 JAN 2020',
  '1237'],
 ['45',
  '2:19:39',
  'Yingjie SUN',
  '19 JAN 1979',
  'CHN',
  '1',
  'Beijing (CHN)',
  '19 OCT 2003',
  '1237'],
 ['46',
  '2:19:41',
  'Yoko SHIBUI',
  '14 MAR 1979',
  'JPN',
  '1',
  'Berlin (GER)',
  '26 SEP 2004',
  '1237'],
 ['46',
  '2:19:41',
  'Tirfi TSEGAYE',
  '25 NOV 1984',
  'ETH',
  '1',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1237'],
 ['48',
  '2:19:44',
  'Florence KIPLAGAT',
  '27 FEB 1987',
  'KEN',
  '1',
  'Berlin (GER)',
  '25 SEP 2011',
  '1236'],
 ['49',
  '2:19:46',
  'Naoko TAKAHASHI',
  '06 MAY 1972',
  'JPN',
  '1',
  'Berlin (GER)',
  '30 SEP 2001',
  '1236'],
 ['49',
  '2:19:46',
  'Lonah Chemtai SALPETER',
  '12 DEC 1988',
  'ISR',
  '1',
  'Praha (CZE)',
  '05 MAY 2019',
  '1236'],
 ['51',
  '2:19:47',
  'Sarah CHEPCHIRCHIR',
  '27 JUL 1984',
  'KEN',
  '1',
  'Tokyo (JPN)',
  '26 FEB 2017',
  '1236'],
 ['52',
  '2:19:50',
  'Edna Ngeringwony KIPLAGAT',
  '15 NOV 1979',
  'KEN',
  '2',
  'London (GBR)',
  '22 APR 2012',
  '1235'],
 ['53',
  '2:19:51',
  'Chunxiu ZHOU',
  '15 NOV 1978',
  'CHN',
  '1',
  'Seoul (KOR)',
  '12 MAR 2006',
  '1235'],
 ['53',
  '2:19:51',
  'Birhane DIBABA',
  '11 SEP 1993',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '25 FEB 2018',
  '1235'],
 ['55',
  '2:19:52',
  'Mare DIBABA',
  '20 OCT 1989',
  'ETH',
  '3',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1235'],
 ['55',
  '2:19:52',
  'Mare DIBABA',
  '20 OCT 1989',
  'ETH',
  '1',
  'Xiamen (CHN)',
  '03 JAN 2015',
  '1235'],
 ['55',
  '2:19:52',
  'Tigist GIRMA',
  '1993',
  'ETH',
  '2',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1235'],
 ['55',
  '2:19:52',
  'Helalia JOHANNES',
  '13 AUG 1980',
  'NAM',
  '3',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1235'],
 ['59',
  '2:19:53',
  'Worknesh DEGEFA',
  '28 OCT 1990',
  'ETH',
  '4',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1234'],
 ['60',
  '2:19:54',
  'Zeineba YIMER',
  '17 JUN 1998',
  'ETH',
  '4',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1234'],
 ['61',
  '2:19:55',
  'Catherine NDEREBA',
  '21 JUL 1972',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2003',
  '1234'],
 ['62',
  '2:19:56',
  'Degitu AZIMERAW',
  '24 JAN 1999',
  'ETH',
  '5',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1234'],
 ['62',
  '2:19:56',
  'Tigist GIRMA',
  '1993',
  'ETH',
  '6',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1234'],
 ['64',
  '2:19:57',
  'Rita Jeptoo SITIENEI',
  '15 FEB 1981',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1234'],
 ['65',
  '2:20:02',
  'Asselefech MEDESSA MERGIA',
  '23 JAN 1985',
  'ETH',
  '1',
  'Dubai (UAE)',
  '23 JAN 2015',
  '1233'],
 ['66',
  '2:20:03',
  'Gladys CHERONO',
  '12 MAY 1983',
  'KEN',
  '2',
  'Dubai (UAE)',
  '23 JAN 2015',
  '1233'],
 ['67',
  '2:20:05',
  'Ruti AGA',
  '16 JAN 1994',
  'ETH',
  '7',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1232'],
 ['68',
  '2:20:11',
  'Gutemi Shone IMANA',
  '17 NOV 1991',
  'ETH',
  '2',
  'Dubai (UAE)',
  '24 JAN 2020',
  '1231'],
 ['69',
  '2:20:13',
  'Haftamnesh TESFAYE',
  '28 APR 1994',
  'ETH',
  '5',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1231'],
 ['69',
  '2:20:13',
  'Brigid KOSGEI',
  '20 FEB 1994',
  'KEN',
  '2',
  'London (GBR)',
  '22 APR 2018',
  '1231'],
 ['71',
  '2:20:14',
  'Prisca JEPTOO',
  '24 JUN 1984',
  'KEN',
  '3',
  'London (GBR)',
  '22 APR 2012',
  '1231'],
 ['71',
  '2:20:14',
  'Vivian Jepkemoi CHERUIYOT',
  '11 SEP 1983',
  'KEN',
  '2',
  'London (GBR)',
  '28 APR 2019',
  '1231'],
 ['71',
  '2:20:14',
  'Ashete BEKERE',
  '17 APR 1988',
  'ETH',
  '1',
  'Berlin (GER)',
  '29 SEP 2019',
  '1231'],
 ['74',
  '2:20:15',
  'Prisca JEPTOO',
  '24 JUN 1984',
  'KEN',
  '1',
  'London (GBR)',
  '21 APR 2013',
  '1231'],
 ['75',
  '2:20:18',
  'Tirfi TSEGAYE',
  '25 NOV 1984',
  'ETH',
  '1',
  'Berlin (GER)',
  '28 SEP 2014',
  '1230'],
 ['76',
  '2:20:21',
  'Edna Ngeringwony KIPLAGAT',
  '15 NOV 1979',
  'KEN',
  '1',
  'London (GBR)',
  '13 APR 2014',
  '1230'],
 ['76',
  '2:20:21',
  'Lucy Kabuu WANGUI',
  '24 MAR 1984',
  'KEN',
  '3',
  'Dubai (UAE)',
  '23 JAN 2015',
  '1230'],
 ['76',
  '2:20:21',
  'Mare DIBABA',
  '20 OCT 1989',
  'ETH',
  '2',
  'Berlin (GER)',
  '29 SEP 2019',
  '1230'],
 ['79',
  '2:20:22',
  'Brigid KOSGEI',
  '20 FEB 1994',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '08 OCT 2017',
  '1230'],
 ['80',
  '2:20:23',
  'Gladys CHERONO',
  '12 MAY 1983',
  'KEN',
  '1',
  'Berlin (GER)',
  '24 SEP 2017',
  '1229'],
 ['81',
  '2:20:24',
  'Florence KIPLAGAT',
  '27 FEB 1987',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2014',
  '1229'],
 ['81',
  '2:20:24',
  'Workenesh EDESA',
  '11 SEP 1992',
  'ETH',
  '6',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1229'],
 ['83',
  '2:20:27',
  'Boru Feyse TADESE',
  '19 NOV 1988',
  'ETH',
  '2',
  'Berlin (GER)',
  '28 SEP 2014',
  '1229'],
 ['84',
  '2:20:29',
  'Mao ICHIYAMA',
  '29 MAY 1997',
  'JPN',
  '1',
  'Nagoya (JPN)',
  '08 MAR 2020',
  '1228'],
 ['85',
  '2:20:30',
  'Bezunesh BEKELE',
  '29 JAN 1983',
  'ETH',
  '4',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1228'],
 ['85',
  '2:20:30',
  'Aberu KEBEDE',
  '12 SEP 1986',
  'ETH',
  '1',
  'Berlin (GER)',
  '30 SEP 2012',
  '1228'],
 ['85',
  '2:20:30',
  'Sutume Asefa KEBEDE',
  '11 DEC 1994',
  'ETH',
  '3',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1228'],
 ['88',
  '2:20:33',
  'Aberu KEBEDE',
  '12 SEP 1986',
  'ETH',
  '5',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1228'],
 ['89',
  '2:20:35',
  'Tirunesh DIBABA',
  '01 OCT 1985',
  'ETH',
  '3',
  'London (GBR)',
  '13 APR 2014',
  '1227'],
 ['90',
  '2:20:36',
  'Meskerem ASSEFA',
  '03 OCT 1991',
  'ETH',
  '1',
  'Frankfurt (GER)',
  '28 OCT 2018',
  '1227'],
 ['90',
  '2:20:36',
  'Yebrgual MELESE',
  '18 APR 1990',
  'ETH',
  '1',
  'Shanghai (CHN)',
  '18 NOV 2018',
  '1227'],
 ['92',
  '2:20:38',
  'Chunxiu ZHOU',
  '15 NOV 1978',
  'CHN',
  '1',
  'London (GBR)',
  '22 APR 2007',
  '1227'],
 ['93',
  '2:20:39',
  'Purity Cherotich RIONORIPO',
  '10 JUN 1993',
  'KEN',
  '7',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1227'],
 ['94',
  '2:20:40',
  'Ruti AGA',
  '16 JAN 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '03 MAR 2019',
  '1226'],
 ['95',
  '2:20:41',
  'Ruti AGA',
  '16 JAN 1994',
  'ETH',
  '2',
  'Berlin (GER)',
  '24 SEP 2017',
  '1226'],
 ['96',
  '2:20:42',
  'Berhane ADERE',
  '23 NOV 1973',
  'ETH',
  '1',
  'Chicago, IL (USA)',
  '22 OCT 2006',
  '1226'],
 ['97',
  '2:20:43',
  'Tegla LOROUPE',
  '09 MAY 1973',
  'KEN',
  '1',
  'Berlin (GER)',
  '26 SEP 1999',
  '1226'],
 ['98',
  '2:20:45',
  'Aberu KEBEDE',
  '12 SEP 1986',
  'ETH',
  '1',
  'Berlin (GER)',
  '25 SEP 2016',
  '1226'],
 ['98',
  '2:20:45',
  'Gelete BURKA',
  '23 JAN 1986',
  'ETH',
  '6',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1226'],
 ['100',
  '2:20:46',
  'Edna Ngeringwony KIPLAGAT',
  '15 NOV 1979',
  'KEN',
  '2',
  'London (GBR)',
  '17 APR 2011',
  '1225'],
 ['101',
  '2:20:47',
  'Tegla LOROUPE',
  '09 MAY 1973',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '19 APR 1998',
  '1225'],
 ['101',
  '2:20:47',
  'Galina BOGOMOLOVA',
  '15 OCT 1977',
  'RUS',
  '2',
  'Chicago, IL (USA)',
  '22 OCT 2006',
  '1225'],
 ['101',
  '2:20:47',
  'Haftamnesh TESFAYE',
  '28 APR 1994',
  'ETH',
  '2',
  'Frankfurt (GER)',
  '28 OCT 2018',
  '1225'],
 ['104',
  '2:20:48',
  'Jemima Jelagat SUMGONG',
  '21 DEC 1984',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1225'],
 ['104',
  '2:20:48',
  'Aberu KEBEDE',
  '12 SEP 1986',
  'ETH',
  '2',
  'Berlin (GER)',
  '27 SEP 2015',
  '1225'],
 ['104',
  '2:20:48',
  'Amane Beriso SHANKULE',
  '13 OCT 1991',
  'ETH',
  '2',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1225'],
 ['104',
  '2:20:48',
  'Azmera GEBRU',
  '21 OCT 1995',
  'ETH',
  '3',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1225'],
 ['108',
  '2:20:51',
  'Roza DEREJE',
  '09 MAY 1997',
  'ETH',
  '3',
  'London (GBR)',
  '28 APR 2019',
  '1225'],
 ['108',
  '2:20:51',
  'Ababel YESHANEH',
  '22 JUL 1991',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '13 OCT 2019',
  '1225'],
 ['110',
  '2:20:52',
  'Gladys CHERONO',
  '12 MAY 1983',
  'KEN',
  '4',
  'London (GBR)',
  '28 APR 2019',
  '1224'],
 ['111',
  '2:20:53',
  'Valary JEMELI',
  '08 JUN 1991',
  'KEN',
  '3',
  'Berlin (GER)',
  '24 SEP 2017',
  '1224'],
 ['112',
  '2:20:55',
  'Purity Cherotich RIONORIPO',
  '10 JUN 1993',
  'KEN',
  '1',
  'Paris (FRA)',
  '09 APR 2017',
  '1224'],
 ['112',
  '2:20:55',
  'Gelete BURKA',
  '23 JAN 1986',
  'ETH',
  '3',
  'Chicago, IL (USA)',
  '13 OCT 2019',
  '1224'],
 ['114',
  '2:20:57',
  'Paula RADCLIFFE',
  '17 DEC 1973',
  'GBR',
  '1',
  'Olympic Stadium, Helsinki (FIN)',
  '14 AUG 2005',
  '1224'],
 ['114',
  '2:20:57',
  'Florence KIPLAGAT',
  '27 FEB 1987',
  'KEN',
  '4',
  'London (GBR)',
  '22 APR 2012',
  '1224'],
 ['114',
  '2:20:57',
  'Jordan HASAY',
  '21 SEP 1991',
  'USA',
  '3',
  'Chicago, IL (USA)',
  '08 OCT 2017',
  '1224'],
 ['114',
  '2:20:57',
  'Joan Chelimo MELLY',
  '10 NOV 1990',
  'KEN',
  '8',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1224'],
 ['118',
  '2:20:58',
  'Mary Jepkosgei KEITANY',
  '18 JAN 1982',
  'KEN',
  '5',
  'London (GBR)',
  '28 APR 2019',
  '1223'],
 ['119',
  '2:20:59',
  'Shure DEMISE',
  '21 JAN 1996',
  'ETH',
  '4',
  'Dubai (UAE)',
  '23 JAN 2015',
  '1223'],
 ['119',
  '2:20:59',
  'Agnes Jeruto KIPROTICH',
  '05 FEB 1982',
  'KEN',
  '2',
  'Paris (FRA)',
  '09 APR 2017',
  '1223'],
 ['121',
  '2:21:01',
  'Yingjie SUN',
  '19 JAN 1979',
  'CHN',
  '1',
  'Beijing (CHN)',
  '16 OCT 2005',
  '1223'],
 ['121',
  '2:21:01',
  'Meselech MELKAMU',
  '19 APR 1985',
  'ETH',
  '1',
  'Frankfurt (GER)',
  '28 OCT 2012',
  '1223'],
 ['121',
  '2:21:01',
  'Helen BEKELE',
  '21 NOV 1994',
  'ETH',
  '2',
  'Tokyo (JPN)',
  '03 MAR 2019',
  '1223'],
 ['124',
  '2:21:03',
  'Besu SADO',
  '12 JAN 1996',
  'ETH',
  '4',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1223'],
 ['125',
  '2:21:05',
  'Workenesh EDESA',
  '11 SEP 1992',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1222'],
 ['125',
  '2:21:05',
  'Shure DEMISE',
  '21 JAN 1996',
  'ETH',
  '3',
  'Tokyo (JPN)',
  '03 MAR 2019',
  '1222'],
 ['127',
  '2:21:06',
  'Ingrid KRISTIANSEN',
  '21 MAR 1956',
  'NOR',
  '1',
  'London (GBR)',
  '21 APR 1985',
  '1222'],
 ['127',
  '2:21:06',
  'Boru Feyse TADESE',
  '19 NOV 1988',
  'ETH',
  '1',
  'Paris (FRA)',
  '07 APR 2013',
  '1222'],
 ['127',
  '2:21:06',
  'Selly Chepyego KAPTICH',
  '03 OCT 1985',
  'KEN',
  '3',
  'Berlin (GER)',
  '29 SEP 2019',
  '1222'],
 ['130',
  '2:21:09',
  'Meseret Hailu DEBELE',
  '12 SEP 1990',
  'ETH',
  '1',
  'Amsterdam (NED)',
  '21 OCT 2012',
  '1221'],
 ['131',
  '2:21:10',
  'Alemu MEGERTU',
  '1997',
  'ETH',
  '2',
  'Frankfurt (GER)',
  '27 OCT 2019',
  '1221'],
 ['132',
  '2:21:11',
  'Chunxiu ZHOU',
  '15 NOV 1978',
  'CHN',
  '2',
  'Beijing (CHN)',
  '16 OCT 2005',
  '1221'],
 ['132',
  '2:21:11',
  'Vivian KIPLAGAT',
  '09 NOV 1991',
  'KEN',
  '1',
  'Abu Dhabi (UAE)',
  '06 DEC 2019',
  '1221'],
 ['134',
  '2:21:13',
  'Florence KIPLAGAT',
  '27 FEB 1987',
  'KEN',
  '1',
  'Berlin (GER)',
  '29 SEP 2013',
  '1221'],
 ['135',
  '2:21:14',
  'Shalane FLANAGAN',
  '08 JUL 1981',
  'USA',
  '3',
  'Berlin (GER)',
  '28 SEP 2014',
  '1221'],
 ['135',
  '2:21:14',
  'Ashete BEKERE',
  '17 APR 1988',
  'ETH',
  '1',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1221'],
 ['137',
  '2:21:16',
  'Deena KASTOR',
  '14 FEB 1973',
  'USA',
  '3',
  'London (GBR)',
  '13 APR 2003',
  '1220'],
 ['138',
  '2:21:17',
  'Aberu KEBEDE',
  '12 SEP 1986',
  'ETH',
  '5',
  'Dubai (UAE)',
  '23 JAN 2015',
  '1220'],
 ['138',
  '2:21:17',
  'Eunice Jepkirui KIRWA',
  '20 MAY 1984',
  'BRN',
  '1',
  'Nagoya (JPN)',
  '12 MAR 2017',
  '1220'],
 ['140',
  '2:21:18',
  'Mizuki NOGUCHI',
  '03 JUL 1978',
  'JPN',
  '1',
  'Osaka (JPN)',
  '26 JAN 2003',
  '1220'],
 ['140',
  '2:21:18',
  'Edna Ngeringwony KIPLAGAT',
  '15 NOV 1979',
  'KEN',
  '4',
  'Berlin (GER)',
  '16 SEP 2018',
  '1220'],
 ['140',
  '2:21:18',
  'Roza DEREJE',
  '09 MAY 1997',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '07 OCT 2018',
  '1220'],
 ['143',
  '2:21:19',
  'Tirfi TSEGAYE',
  '25 NOV 1984',
  'ETH',
  '2',
  'Berlin (GER)',
  '30 SEP 2012',
  '1220'],
 ['143',
  '2:21:19',
  'Birhane DIBABA',
  '11 SEP 1993',
  'ETH',
  '2',
  'Tokyo (JPN)',
  '26 FEB 2017',
  '1220'],
 ['143',
  '2:21:19',
  'Ruti AGA',
  '16 JAN 1994',
  'ETH',
  '2',
  'Tokyo (JPN)',
  '25 FEB 2018',
  '1220'],
 ['146',
  '2:21:21',
  'Joan BENOIT-SAMUELSON',
  '16 MAY 1957',
  'USA',
  '1',
  'Chicago, IL (USA)',
  '20 OCT 1985',
  '1219'],
 ['146',
  '2:21:21',
  'Yingjie SUN',
  '19 JAN 1979',
  'CHN',
  '1',
  'Beijing (CHN)',
  '13 OCT 2002',
  '1219'],
 ['148',
  '2:21:22',
  'Yoko SHIBUI',
  '14 MAR 1979',
  'JPN',
  '3',
  'Chicago, IL (USA)',
  '13 OCT 2002',
  '1219'],
 ['148',
  '2:21:22',
  'Philomena CHEYECH',
  '05 JUL 1982',
  'KEN',
  '3',
  'Paris (FRA)',
  '09 APR 2017',
  '1219'],
 ['148',
  '2:21:22',
  'Mimi BELETE',
  '09 JUN 1988',
  'BRN',
  '5',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1219'],
 ['151',
  '2:21:25',
  'Deena KASTOR',
  '14 FEB 1973',
  'USA',
  '1',
  'Chicago, IL (USA)',
  '09 OCT 2005',
  '1219'],
 ['152',
  '2:21:26',
  'Bornes CHEPKIRUI',
  '23 NOV 1986',
  'KEN',
  '1',
  'Ljubljana (SLO)',
  '27 OCT 2019',
  '1219'],
 ['153',
  '2:21:27',
  'Helah Jelagat KIPROP',
  '07 APR 1985',
  'KEN',
  '1',
  'Tokyo (JPN)',
  '28 FEB 2016',
  '1218'],
 ['154',
  '2:21:29',
  'Lyudmila PETROVA',
  '07 OCT 1968',
  'RUS',
  '2',
  'London (GBR)',
  '23 APR 2006',
  '1218'],
 ['155',
  '2:21:30',
  'Constantina DITA-TOMESCU',
  '23 JAN 1970',
  'ROU',
  '2',
  'Chicago, IL (USA)',
  '09 OCT 2005',
  '1218'],
 ['155',
  '2:21:30',
  'Lydia CHEROMEI',
  '11 MAY 1977',
  'KEN',
  '6',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1218'],
 ['157',
  '2:21:31',
  'Svetlana ZAKHAROVA',
  '15 SEP 1970',
  'RUS',
  '4',
  'Chicago, IL (USA)',
  '13 OCT 2002',
  '1218'],
 ['157',
  '2:21:31',
  'Askale Magarsa TAFA',
  '27 SEP 1984',
  'ETH',
  '2',
  'Berlin (GER)',
  '28 SEP 2008',
  '1218'],
 ['159',
  '2:21:32',
  'Edna Ngeringwony KIPLAGAT',
  '15 NOV 1979',
  'KEN',
  '2',
  'London (GBR)',
  '21 APR 2013',
  '1218'],
 ['159',
  '2:21:32',
  'Florence KIPLAGAT',
  '27 FEB 1987',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '09 OCT 2016',
  '1218'],
 ['159',
  '2:21:32',
  'Bedatu HIRPA',
  '28 APR 1999',
  'ETH',
  '3',
  'Frankfurt (GER)',
  '28 OCT 2018',
  '1218'],
 ['162',
  '2:21:33',
  'Catherine NDEREBA',
  '21 JUL 1972',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '22 OCT 2000',
  '1217'],
 ['162',
  '2:21:33',
  'Shitaye ESHETE',
  '21 MAY 1990',
  'BRN',
  '2',
  'Ljubljana (SLO)',

In [15]:
# Volcamos todos estos datos en un dataset. Ya podemos empezar a trabajar sobre ellos!
df_women = pd.DataFrame(top_1500_marathon_times_women)
df_women

,0,1,2,3,4,5,6,7,8
0,1,2:14:04,Brigid KOSGEI,20 FEB 1994,KEN,1,"Chicago, IL (USA)",13 OCT 2019,1295
1,2,2:15:25,Paula RADCLIFFE,17 DEC 1973,GBR,1,London (GBR),13 APR 2003,1281
2,3,2:17:01,Mary Jepkosgei KEITANY,18 JAN 1982,KEN,1,London (GBR),23 APR 2017,1264
3,4,2:17:08,Ruth CHEPNGETICH,08 AUG 1994,KEN,1,Dubai (UAE),25 JAN 2019,1263
4,5,2:17:16,Peres JEPCHIRCHIR,27 SEP 1993,KEN,1,Valencia (ESP),06 DEC 2020,1262
...,...,...,...,...,...,...,...,...,...
1495,1492,2:26:55,Mai ITO,23 MAY 1984,JPN,2,Osaka (JPN),30 JAN 2011,1163
1496,1492,2:26:55,Jelena PROKOPČUKA,21 SEP 1976,LAT,4,Yokohama (JPN),18 NOV 2012,1163
1497,1492,2:26:55,Ashete BEKERE,17 APR 1988,ETH,5,Praha (CZE),03 MAY 2015,1163
1498,1492,2:26:55,Aberu Mekuria ZENNEBE,24 DEC 1983,ETH,4,Seoul (KOR),19 MAR 2017,1163
1499,1492,2:26:55,Deborah SCHÖNEBORN,13 MAR 1994,GER,12,Valencia (ESP),06 DEC 2020,1163

In [16]:
df_women.to_csv("output/data_women.csv")