In [22]:
import requests
from bs4 import BeautifulSoup
import re
import pandas as pd

In [39]:
data = requests.get("https://www.worldathletics.org/records/all-time-toplists/road-running/marathon/outdoor/men/senior?regionType=world&drop=regular&fiftyPercentRule=regular&page=1&bestResultsOnly=false&firstDay=1899-12-31&lastDay=2020-12-09")

In [40]:
data.status_code

200

In [41]:
soup = BeautifulSoup(data.text)

In [42]:
data_scraped = []
rows = soup.select(".records-table tbody tr")
for row in rows:
    athlete = []
    for element in row.select("td"):
        if len(element.text) > 0:
            athlete.append(element.text.strip())    
    data_scraped.append(athlete)

In [43]:
data_scraped

[['1',
  '2:01:39',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '16 SEP 2018',
  '1316'],
 ['2',
  '2:01:41',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '29 SEP 2019',
  '1315'],
 ['3',
  '2:02:37',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '28 APR 2019',
  '1297'],
 ['4',
  '2:02:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '2',
  'Berlin (GER)',
  '29 SEP 2019',
  '1294'],
 ['5',
  '2:02:55',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '2',
  'London (GBR)',
  '28 APR 2019',
  '1292'],
 ['6',
  '2:02:57',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2014',
  '1291'],
 ['7',
  '2:03:00',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '1',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1290'],
 ['8',
  '2:03:03',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '25 SEP 2016',
  '1289'],
 ['9',
  '2:03:04',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '2',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1289'],
 ['10',
  '2:03:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '24 APR 2016',
  '1288'],
 ['11',
  '2:03:13',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2014',
  '1286'],
 ['11',
  '2:03:13',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'Berlin (GER)',
  '25 SEP 2016',
  '1286'],
 ['13',
  '2:03:16',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '3',
  'London (GBR)',
  '28 APR 2019',
  '1285'],
 ['13',
  '2:03:16',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '3',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1285'],
 ['15',
  '2:03:23',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Berlin (GER)',
  '29 SEP 2013',
  '1283'],
 ['16',
  '2:03:30',
  'Amos KIPRUTO',
  '16 SEP 1992',
  'KEN',
  '4',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1281'],
 ['17',
  '2:03:32',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '24 SEP 2017',
  '1280'],
 ['18',
  '2:03:34',
  'Getaneh MOLLA',
  '10 JAN 1994',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1279'],
 ['19',
  '2:03:36',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Berlin (GER)',
  '29 SEP 2019',
  '1279'],
 ['20',
  '2:03:38',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Berlin (GER)',
  '25 SEP 2011',
  '1278'],
 ['21',
  '2:03:40',
  'Herpasa NEGASA',
  '11 SEP 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1278'],
 ['22',
  '2:03:42',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1277'],
 ['23',
  '2:03:45',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1276'],
 ['24',
  '2:03:46',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '2',
  'Berlin (GER)',
  '24 SEP 2017',
  '1276'],
 ['25',
  '2:03:51',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '24 APR 2016',
  '1274'],
 ['25',
  '2:03:51',
  'Kinde ATANAW',
  '15 APR 1993',
  'ETH',
  '1',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1274'],
 ['27',
  '2:03:52',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1274'],
 ['28',
  '2:03:58',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Tokyo (JPN)',
  '26 FEB 2017',
  '1272'],
 ['29',
  '2:03:59',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '28 SEP 2008',
  '1272'],
 ['30',
  '2:04:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '27 SEP 2015',
  '1271'],
 ['30',
  '2:04:00',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['32',
  '2:04:02',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '2',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['33',
  '2:04:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '29 SEP 2013',
  '1270'],
 ['34',
  '2:04:06',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '3',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1269'],
 ['37',
  '2:04:08',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '5',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['38',
  '2:04:11',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1268'],
 ['38',
  '2:04:11',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '1',
  'Dubai (UAE)',
  '20 JAN 2017',
  '1268'],
 ['38',
  '2:04:11',
  'Marius KIPSEREM',
  '17 MAY 1988',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '07 APR 2019',
  '1268'],
 ['41',
  '2:04:12',
  'Reuben KERIO',
  '02 JUN 1994',
  'KEN',
  '5',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1268'],
 ['42',
  '2:04:15',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '1',
  'Berlin (GER)',
  '30 SEP 2012',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '6',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1267'],
 ['45',
  '2:04:16',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '30 SEP 2012',
  '1266'],
 ['45',
  '2:04:16',
  'Kaan Kigen ÖZBILEN',
  '15 JAN 1986',
  'TUR',
  '2',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1266'],
 ['47',
  '2:04:17',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2018',
  '1266'],
 ['48',
  '2:04:23',
  'Ayele ABSHERO',
  '28 DEC 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1264'],
 ['49',
  '2:04:24',
  'Tesfaye ABERA',
  '31 MAR 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1264'],
 ['49',
  '2:04:24',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1264'],
 ['51',
  '2:04:26',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '30 SEP 2007',
  '1263'],
 ['52',
  '2:04:27',
  'Duncan KIBET',
  '25 APR 1978',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['52',
  '2:04:27',
  'James Kipsang KWAMBAI',
  '28 FEB 1983',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['54',
  '2:04:28',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1263'],
 ['55',
  '2:04:29',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '13 APR 2014',
  '1262'],
 ['56',
  '2:04:31',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '1',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1262'],
 ['57',
  '2:04:32',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '1',
  'Dubai (UAE)',
  '24 JAN 2014',
  '1261'],
 ['57',
  '2:04:32',
  'Dickson CHUMBA',
  '27 OCT 1986',
  'KEN',
  '3',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1261'],
 ['59',
  '2:04:33',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '2',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1261'],
 ['60',
  '2:04:37',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '2',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1260'],
 ['61',
  '2:04:38',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1259'],
 ['62',
  '2:04:40',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '1',
  'London (GBR)',
  '17 APR 2011',
  '1259'],
 ['62',
  '2:04:40',
  'Soloman DEKSISA',
  '11 MAR 1994',
  'ETH',
  '3',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1259'],
 ['62',
  '2:04:40',
  'Reuben Kiprop KIPYEGO',
  '21 AUG 1996',
  'KEN',
  '1',
  'Abu Dhabi (UAE)',
  '06 DEC 2019',
  '1259'],
 ['65',
  '2:04:42',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '26 APR 2015',
  '1258'],
 ['65',
  '2:04:42',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '3',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1258'],
 ['67',
  '2:04:43',
  'El Hassan EL ABBASSI',
  '13 APR 1984',
  'BRN',
  '2',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1258'],
 ['68',
  '2:04:44',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2012',
  '1258'],
 ['68',
  '2:04:44',
  'Seifu TURA',
  '19 JUN 1997',
  'ETH',
  '7',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1258'],
 ['70',
  '2:04:45',
  'Lelisa DESISA',
  '14 JAN 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1257'],
 ['71',
  '2:04:46',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '3',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1257'],
 ['71',
  '2:04:46',
  'Titus EKIRU',
  '02 JAN 1992',
  'KEN',
  '1',
  'Milano (ITA)',
  '07 APR 2019',
  '1257'],
 ['71',
  '2:04:46',
  'Mekuant Ayenew GEBRE',
  '1991',
  'ETH',
  '1',
  'Sevilla (ESP)',
  '23 FEB 2020',
  '1257'],
 ['74',
  '2:04:47',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'London (GBR)',
  '26 APR 2015',
  '1257'],
 ['75',
  '2:04:48',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1256'],
 ['75',
  '2:04:48',
  'Yemane TSEGAY',
  '08 APR 1985',
  'ETH',
  '1',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['75',
  '2:04:48',
  'Berhanu SHIFERAW',
  '31 MAY 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['75',
  '2:04:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '03 MAR 2019',
  '1256'],
 ['79',
  '2:04:49',
  'Tadesse TOLA',
  '31 OCT 1987',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['79',
  '2:04:49',
  'Shura KITATA',
  '09 JUN 1996',
  'ETH',
  '2',
  'London (GBR)',
  '22 APR 2018',
  '1256'],
 ['79',
  '2:04:49',
  'Bashir ABDI',
  '10 FEB 1989',
  'BEL',
  '2',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1256'],
 ['82',
  '2:04:50',
  'Dino SEFIR',
  '28 MAY 1988',
  'ETH',
  '2',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1256'],
 ['82',
  '2:04:50',
  'Getu FELEKE',
  '28 NOV 1986',
  'ETH',
  '2',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['84',
  '2:04:51',
  'Abebe Negewo DEGEFA',
  '20 MAY 1984',
  'ETH',
  '4',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1255'],
 ['84',
  '2:04:51',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1255'],
 ['86',
  '2:04:52',
  'Feyisa LILESA',
  '01 FEB 1990',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1255'],
 ['86',
  '2:04:52',
  'Endeshaw NEGESSE',
  '13 MAR 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Dubai (UAE)',
  '18 JAN 2008',
  '1255'],
 ['88',
  '2:04:53',
  'Bernard Kiprop KOECH',
  '31 JAN 1988',
  'KEN',
  '5',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Mathew Kipkoech KISORIO',
  '16 MAY 1989',
  'KEN',
  '3',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1255'],
 ['88',
  '2:04:53',
  'Deso GELMISA',
  '',
  'ETH',
  '6',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1255'],
 ['92',
  '2:04:54',
  'Markos GENETI',
  '07 JUN 1984',
  'ETH',
  '3',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1255'],
 ['93',
  '2:04:55',
  'Paul TERGAT',
  '17 JUN 1969',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['93',
  '2:04:55',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1254'],
 ['93',
  '2:04:55',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2014',
  '1254'],
 ['96',
  '2:04:56',
  'Sammy Kipchoge KORIR',
  '12 DEC 1971',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['96',
  '2:04:56',
  'Jonathan MAIYO',
  '05 MAY 1988',
  'KEN',
  '4',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1254'],
 ['98',
  '2:04:57',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '31 OCT 2010',
  '1254'],
 ['99',
  '2:04:58',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '1',
  'Ljubljana (SLO)',
  '28 OCT 2018',
  '1253'],
 ['100',
  '2:05:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '13 APR 2014',
  '1253']]

In [44]:
# Creamos una funcion para obtener los datos de la web, pasandole como parametro el número
# de pagina(nos interesan las 15 primeras páginas)
def get_marathon_records(page):

    url = "https://www.worldathletics.org/records/all-time-toplists/road-running/marathon/outdoor/men/senior"
    params = {
              "regionType":"world",
              "drop":"regular",
              "fiftyPercentRule":"regular",
              "page":page,
              "bestResultsOnly":"false",
              "firstDay":"1899-12-31",
              "lastDay":"2020-12-09"
             }
    data = requests.get(url, params=params)
    soup = BeautifulSoup(data.text)
    data_scraped = []
    rows = soup.select(".records-table tbody tr")
    for row in rows:
        athlete = []
        for content in row.select("td"):
            if len(content.text) > 0:
                athlete.append(content.text.strip())
        data_scraped.append(athlete)
    return data_scraped

In [45]:
get_marathon_records(1)

[['1',
  '2:01:39',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '16 SEP 2018',
  '1316'],
 ['2',
  '2:01:41',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '29 SEP 2019',
  '1315'],
 ['3',
  '2:02:37',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '28 APR 2019',
  '1297'],
 ['4',
  '2:02:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '2',
  'Berlin (GER)',
  '29 SEP 2019',
  '1294'],
 ['5',
  '2:02:55',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '2',
  'London (GBR)',
  '28 APR 2019',
  '1292'],
 ['6',
  '2:02:57',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2014',
  '1291'],
 ['7',
  '2:03:00',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '1',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1290'],
 ['8',
  '2:03:03',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '25 SEP 2016',
  '1289'],
 ['9',
  '2:03:04',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '2',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1289'],
 ['10',
  '2:03:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '24 APR 2016',
  '1288'],
 ['11',
  '2:03:13',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2014',
  '1286'],
 ['11',
  '2:03:13',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'Berlin (GER)',
  '25 SEP 2016',
  '1286'],
 ['13',
  '2:03:16',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '3',
  'London (GBR)',
  '28 APR 2019',
  '1285'],
 ['13',
  '2:03:16',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '3',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1285'],
 ['15',
  '2:03:23',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Berlin (GER)',
  '29 SEP 2013',
  '1283'],
 ['16',
  '2:03:30',
  'Amos KIPRUTO',
  '16 SEP 1992',
  'KEN',
  '4',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1281'],
 ['17',
  '2:03:32',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '24 SEP 2017',
  '1280'],
 ['18',
  '2:03:34',
  'Getaneh MOLLA',
  '10 JAN 1994',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1279'],
 ['19',
  '2:03:36',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Berlin (GER)',
  '29 SEP 2019',
  '1279'],
 ['20',
  '2:03:38',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Berlin (GER)',
  '25 SEP 2011',
  '1278'],
 ['21',
  '2:03:40',
  'Herpasa NEGASA',
  '11 SEP 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1278'],
 ['22',
  '2:03:42',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1277'],
 ['23',
  '2:03:45',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1276'],
 ['24',
  '2:03:46',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '2',
  'Berlin (GER)',
  '24 SEP 2017',
  '1276'],
 ['25',
  '2:03:51',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '24 APR 2016',
  '1274'],
 ['25',
  '2:03:51',
  'Kinde ATANAW',
  '15 APR 1993',
  'ETH',
  '1',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1274'],
 ['27',
  '2:03:52',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1274'],
 ['28',
  '2:03:58',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Tokyo (JPN)',
  '26 FEB 2017',
  '1272'],
 ['29',
  '2:03:59',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '28 SEP 2008',
  '1272'],
 ['30',
  '2:04:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '27 SEP 2015',
  '1271'],
 ['30',
  '2:04:00',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['32',
  '2:04:02',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '2',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['33',
  '2:04:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '29 SEP 2013',
  '1270'],
 ['34',
  '2:04:06',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '3',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1269'],
 ['37',
  '2:04:08',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '5',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['38',
  '2:04:11',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1268'],
 ['38',
  '2:04:11',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '1',
  'Dubai (UAE)',
  '20 JAN 2017',
  '1268'],
 ['38',
  '2:04:11',
  'Marius KIPSEREM',
  '17 MAY 1988',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '07 APR 2019',
  '1268'],
 ['41',
  '2:04:12',
  'Reuben KERIO',
  '02 JUN 1994',
  'KEN',
  '5',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1268'],
 ['42',
  '2:04:15',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '1',
  'Berlin (GER)',
  '30 SEP 2012',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '6',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1267'],
 ['45',
  '2:04:16',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '30 SEP 2012',
  '1266'],
 ['45',
  '2:04:16',
  'Kaan Kigen ÖZBILEN',
  '15 JAN 1986',
  'TUR',
  '2',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1266'],
 ['47',
  '2:04:17',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2018',
  '1266'],
 ['48',
  '2:04:23',
  'Ayele ABSHERO',
  '28 DEC 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1264'],
 ['49',
  '2:04:24',
  'Tesfaye ABERA',
  '31 MAR 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1264'],
 ['49',
  '2:04:24',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1264'],
 ['51',
  '2:04:26',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '30 SEP 2007',
  '1263'],
 ['52',
  '2:04:27',
  'Duncan KIBET',
  '25 APR 1978',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['52',
  '2:04:27',
  'James Kipsang KWAMBAI',
  '28 FEB 1983',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['54',
  '2:04:28',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1263'],
 ['55',
  '2:04:29',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '13 APR 2014',
  '1262'],
 ['56',
  '2:04:31',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '1',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1262'],
 ['57',
  '2:04:32',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '1',
  'Dubai (UAE)',
  '24 JAN 2014',
  '1261'],
 ['57',
  '2:04:32',
  'Dickson CHUMBA',
  '27 OCT 1986',
  'KEN',
  '3',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1261'],
 ['59',
  '2:04:33',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '2',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1261'],
 ['60',
  '2:04:37',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '2',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1260'],
 ['61',
  '2:04:38',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1259'],
 ['62',
  '2:04:40',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '1',
  'London (GBR)',
  '17 APR 2011',
  '1259'],
 ['62',
  '2:04:40',
  'Soloman DEKSISA',
  '11 MAR 1994',
  'ETH',
  '3',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1259'],
 ['62',
  '2:04:40',
  'Reuben Kiprop KIPYEGO',
  '21 AUG 1996',
  'KEN',
  '1',
  'Abu Dhabi (UAE)',
  '06 DEC 2019',
  '1259'],
 ['65',
  '2:04:42',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '26 APR 2015',
  '1258'],
 ['65',
  '2:04:42',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '3',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1258'],
 ['67',
  '2:04:43',
  'El Hassan EL ABBASSI',
  '13 APR 1984',
  'BRN',
  '2',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1258'],
 ['68',
  '2:04:44',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2012',
  '1258'],
 ['68',
  '2:04:44',
  'Seifu TURA',
  '19 JUN 1997',
  'ETH',
  '7',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1258'],
 ['70',
  '2:04:45',
  'Lelisa DESISA',
  '14 JAN 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1257'],
 ['71',
  '2:04:46',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '3',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1257'],
 ['71',
  '2:04:46',
  'Titus EKIRU',
  '02 JAN 1992',
  'KEN',
  '1',
  'Milano (ITA)',
  '07 APR 2019',
  '1257'],
 ['71',
  '2:04:46',
  'Mekuant Ayenew GEBRE',
  '1991',
  'ETH',
  '1',
  'Sevilla (ESP)',
  '23 FEB 2020',
  '1257'],
 ['74',
  '2:04:47',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'London (GBR)',
  '26 APR 2015',
  '1257'],
 ['75',
  '2:04:48',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1256'],
 ['75',
  '2:04:48',
  'Yemane TSEGAY',
  '08 APR 1985',
  'ETH',
  '1',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['75',
  '2:04:48',
  'Berhanu SHIFERAW',
  '31 MAY 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['75',
  '2:04:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '03 MAR 2019',
  '1256'],
 ['79',
  '2:04:49',
  'Tadesse TOLA',
  '31 OCT 1987',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['79',
  '2:04:49',
  'Shura KITATA',
  '09 JUN 1996',
  'ETH',
  '2',
  'London (GBR)',
  '22 APR 2018',
  '1256'],
 ['79',
  '2:04:49',
  'Bashir ABDI',
  '10 FEB 1989',
  'BEL',
  '2',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1256'],
 ['82',
  '2:04:50',
  'Dino SEFIR',
  '28 MAY 1988',
  'ETH',
  '2',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1256'],
 ['82',
  '2:04:50',
  'Getu FELEKE',
  '28 NOV 1986',
  'ETH',
  '2',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['84',
  '2:04:51',
  'Abebe Negewo DEGEFA',
  '20 MAY 1984',
  'ETH',
  '4',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1255'],
 ['84',
  '2:04:51',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1255'],
 ['86',
  '2:04:52',
  'Feyisa LILESA',
  '01 FEB 1990',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1255'],
 ['86',
  '2:04:52',
  'Endeshaw NEGESSE',
  '13 MAR 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Dubai (UAE)',
  '18 JAN 2008',
  '1255'],
 ['88',
  '2:04:53',
  'Bernard Kiprop KOECH',
  '31 JAN 1988',
  'KEN',
  '5',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Mathew Kipkoech KISORIO',
  '16 MAY 1989',
  'KEN',
  '3',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1255'],
 ['88',
  '2:04:53',
  'Deso GELMISA',
  '',
  'ETH',
  '6',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1255'],
 ['92',
  '2:04:54',
  'Markos GENETI',
  '07 JUN 1984',
  'ETH',
  '3',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1255'],
 ['93',
  '2:04:55',
  'Paul TERGAT',
  '17 JUN 1969',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['93',
  '2:04:55',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1254'],
 ['93',
  '2:04:55',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2014',
  '1254'],
 ['96',
  '2:04:56',
  'Sammy Kipchoge KORIR',
  '12 DEC 1971',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['96',
  '2:04:56',
  'Jonathan MAIYO',
  '05 MAY 1988',
  'KEN',
  '4',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1254'],
 ['98',
  '2:04:57',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '31 OCT 2010',
  '1254'],
 ['99',
  '2:04:58',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '1',
  'Ljubljana (SLO)',
  '28 OCT 2018',
  '1253'],
 ['100',
  '2:05:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '13 APR 2014',
  '1253']]

In [46]:
# Creamos una lista vacia e iteramos sobre nuestra función get_marathon_records para obtener 
# los primeros 1500 mejores tiempos. Esta lista vacia se va rellenando con los datos de cada
# página.

top_1500_marathon_times = []
for i in range(1,16):
    top_1500_marathon_times += get_marathon_records(i)

top_1500_marathon_times

[['1',
  '2:01:39',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '16 SEP 2018',
  '1316'],
 ['2',
  '2:01:41',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '29 SEP 2019',
  '1315'],
 ['3',
  '2:02:37',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '28 APR 2019',
  '1297'],
 ['4',
  '2:02:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '2',
  'Berlin (GER)',
  '29 SEP 2019',
  '1294'],
 ['5',
  '2:02:55',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '2',
  'London (GBR)',
  '28 APR 2019',
  '1292'],
 ['6',
  '2:02:57',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2014',
  '1291'],
 ['7',
  '2:03:00',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '1',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1290'],
 ['8',
  '2:03:03',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Berlin (GER)',
  '25 SEP 2016',
  '1289'],
 ['9',
  '2:03:04',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '2',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1289'],
 ['10',
  '2:03:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '24 APR 2016',
  '1288'],
 ['11',
  '2:03:13',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2014',
  '1286'],
 ['11',
  '2:03:13',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'Berlin (GER)',
  '25 SEP 2016',
  '1286'],
 ['13',
  '2:03:16',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '3',
  'London (GBR)',
  '28 APR 2019',
  '1285'],
 ['13',
  '2:03:16',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '3',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1285'],
 ['15',
  '2:03:23',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Berlin (GER)',
  '29 SEP 2013',
  '1283'],
 ['16',
  '2:03:30',
  'Amos KIPRUTO',
  '16 SEP 1992',
  'KEN',
  '4',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1281'],
 ['17',
  '2:03:32',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '24 SEP 2017',
  '1280'],
 ['18',
  '2:03:34',
  'Getaneh MOLLA',
  '10 JAN 1994',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1279'],
 ['19',
  '2:03:36',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Berlin (GER)',
  '29 SEP 2019',
  '1279'],
 ['20',
  '2:03:38',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Berlin (GER)',
  '25 SEP 2011',
  '1278'],
 ['21',
  '2:03:40',
  'Herpasa NEGASA',
  '11 SEP 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1278'],
 ['22',
  '2:03:42',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1277'],
 ['23',
  '2:03:45',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1276'],
 ['24',
  '2:03:46',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '2',
  'Berlin (GER)',
  '24 SEP 2017',
  '1276'],
 ['25',
  '2:03:51',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '24 APR 2016',
  '1274'],
 ['25',
  '2:03:51',
  'Kinde ATANAW',
  '15 APR 1993',
  'ETH',
  '1',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1274'],
 ['27',
  '2:03:52',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1274'],
 ['28',
  '2:03:58',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Tokyo (JPN)',
  '26 FEB 2017',
  '1272'],
 ['29',
  '2:03:59',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '28 SEP 2008',
  '1272'],
 ['30',
  '2:04:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Berlin (GER)',
  '27 SEP 2015',
  '1271'],
 ['30',
  '2:04:00',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['32',
  '2:04:02',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '2',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1271'],
 ['33',
  '2:04:05',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '29 SEP 2013',
  '1270'],
 ['34',
  '2:04:06',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '3',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['34',
  '2:04:06',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1269'],
 ['37',
  '2:04:08',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '5',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1269'],
 ['38',
  '2:04:11',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1268'],
 ['38',
  '2:04:11',
  'Tamirat TOLA',
  '11 AUG 1991',
  'ETH',
  '1',
  'Dubai (UAE)',
  '20 JAN 2017',
  '1268'],
 ['38',
  '2:04:11',
  'Marius KIPSEREM',
  '17 MAY 1988',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '07 APR 2019',
  '1268'],
 ['41',
  '2:04:12',
  'Reuben KERIO',
  '02 JUN 1994',
  'KEN',
  '5',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1268'],
 ['42',
  '2:04:15',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '1',
  'Berlin (GER)',
  '30 SEP 2012',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '6',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1267'],
 ['42',
  '2:04:15',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1267'],
 ['45',
  '2:04:16',
  'Dennis KIMETTO',
  '22 APR 1984',
  'KEN',
  '2',
  'Berlin (GER)',
  '30 SEP 2012',
  '1266'],
 ['45',
  '2:04:16',
  'Kaan Kigen ÖZBILEN',
  '15 JAN 1986',
  'TUR',
  '2',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1266'],
 ['47',
  '2:04:17',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2018',
  '1266'],
 ['48',
  '2:04:23',
  'Ayele ABSHERO',
  '28 DEC 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1264'],
 ['49',
  '2:04:24',
  'Tesfaye ABERA',
  '31 MAR 1992',
  'ETH',
  '1',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1264'],
 ['49',
  '2:04:24',
  'Asefa MENGSTU',
  '22 JAN 1988',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1264'],
 ['51',
  '2:04:26',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Berlin (GER)',
  '30 SEP 2007',
  '1263'],
 ['52',
  '2:04:27',
  'Duncan KIBET',
  '25 APR 1978',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['52',
  '2:04:27',
  'James Kipsang KWAMBAI',
  '28 FEB 1983',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1263'],
 ['54',
  '2:04:28',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '2',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1263'],
 ['55',
  '2:04:29',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '13 APR 2014',
  '1262'],
 ['56',
  '2:04:31',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '1',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1262'],
 ['57',
  '2:04:32',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '1',
  'Dubai (UAE)',
  '24 JAN 2014',
  '1261'],
 ['57',
  '2:04:32',
  'Dickson CHUMBA',
  '27 OCT 1986',
  'KEN',
  '3',
  'Chicago, IL (USA)',
  '12 OCT 2014',
  '1261'],
 ['59',
  '2:04:33',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '2',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1261'],
 ['60',
  '2:04:37',
  'Mule WASIHUN',
  '20 OCT 1993',
  'ETH',
  '2',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1260'],
 ['61',
  '2:04:38',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1259'],
 ['62',
  '2:04:40',
  'Emmanuel MUTAI',
  '12 OCT 1984',
  'KEN',
  '1',
  'London (GBR)',
  '17 APR 2011',
  '1259'],
 ['62',
  '2:04:40',
  'Soloman DEKSISA',
  '11 MAR 1994',
  'ETH',
  '3',
  'Amsterdam (NED)',
  '21 OCT 2018',
  '1259'],
 ['62',
  '2:04:40',
  'Reuben Kiprop KIPYEGO',
  '21 AUG 1996',
  'KEN',
  '1',
  'Abu Dhabi (UAE)',
  '06 DEC 2019',
  '1259'],
 ['65',
  '2:04:42',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'London (GBR)',
  '26 APR 2015',
  '1258'],
 ['65',
  '2:04:42',
  'Guye Idemo ADOLA',
  '20 OCT 1990',
  'ETH',
  '3',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1258'],
 ['67',
  '2:04:43',
  'El Hassan EL ABBASSI',
  '13 APR 1984',
  'BRN',
  '2',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1258'],
 ['68',
  '2:04:44',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'London (GBR)',
  '22 APR 2012',
  '1258'],
 ['68',
  '2:04:44',
  'Seifu TURA',
  '19 JUN 1997',
  'ETH',
  '7',
  'Dubai (UAE)',
  '26 JAN 2018',
  '1258'],
 ['70',
  '2:04:45',
  'Lelisa DESISA',
  '14 JAN 1990',
  'ETH',
  '1',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1257'],
 ['71',
  '2:04:46',
  'Tsegaye MEKONNEN',
  '15 JUN 1995',
  'ETH',
  '3',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1257'],
 ['71',
  '2:04:46',
  'Titus EKIRU',
  '02 JAN 1992',
  'KEN',
  '1',
  'Milano (ITA)',
  '07 APR 2019',
  '1257'],
 ['71',
  '2:04:46',
  'Mekuant Ayenew GEBRE',
  '1991',
  'ETH',
  '1',
  'Sevilla (ESP)',
  '23 FEB 2020',
  '1257'],
 ['74',
  '2:04:47',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '2',
  'London (GBR)',
  '26 APR 2015',
  '1257'],
 ['75',
  '2:04:48',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1256'],
 ['75',
  '2:04:48',
  'Yemane TSEGAY',
  '08 APR 1985',
  'ETH',
  '1',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['75',
  '2:04:48',
  'Berhanu SHIFERAW',
  '31 MAY 1993',
  'ETH',
  '2',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['75',
  '2:04:48',
  'Birhanu LEGESE',
  '11 SEP 1994',
  'ETH',
  '1',
  'Tokyo (JPN)',
  '03 MAR 2019',
  '1256'],
 ['79',
  '2:04:49',
  'Tadesse TOLA',
  '31 OCT 1987',
  'ETH',
  '3',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1256'],
 ['79',
  '2:04:49',
  'Shura KITATA',
  '09 JUN 1996',
  'ETH',
  '2',
  'London (GBR)',
  '22 APR 2018',
  '1256'],
 ['79',
  '2:04:49',
  'Bashir ABDI',
  '10 FEB 1989',
  'BEL',
  '2',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1256'],
 ['82',
  '2:04:50',
  'Dino SEFIR',
  '28 MAY 1988',
  'ETH',
  '2',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1256'],
 ['82',
  '2:04:50',
  'Getu FELEKE',
  '28 NOV 1986',
  'ETH',
  '2',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1256'],
 ['84',
  '2:04:51',
  'Abebe Negewo DEGEFA',
  '20 MAY 1984',
  'ETH',
  '4',
  'Valencia (ESP)',
  '01 DEC 2019',
  '1255'],
 ['84',
  '2:04:51',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '3',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1255'],
 ['86',
  '2:04:52',
  'Feyisa LILESA',
  '01 FEB 1990',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1255'],
 ['86',
  '2:04:52',
  'Endeshaw NEGESSE',
  '13 MAR 1988',
  'ETH',
  '4',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1',
  'Dubai (UAE)',
  '18 JAN 2008',
  '1255'],
 ['88',
  '2:04:53',
  'Bernard Kiprop KOECH',
  '31 JAN 1988',
  'KEN',
  '5',
  'Dubai (UAE)',
  '25 JAN 2013',
  '1255'],
 ['88',
  '2:04:53',
  'Mathew Kipkoech KISORIO',
  '16 MAY 1989',
  'KEN',
  '3',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1255'],
 ['88',
  '2:04:53',
  'Deso GELMISA',
  '',
  'ETH',
  '6',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1255'],
 ['92',
  '2:04:54',
  'Markos GENETI',
  '07 JUN 1984',
  'ETH',
  '3',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1255'],
 ['93',
  '2:04:55',
  'Paul TERGAT',
  '17 JUN 1969',
  'KEN',
  '1',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['93',
  '2:04:55',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '2',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1254'],
 ['93',
  '2:04:55',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2014',
  '1254'],
 ['96',
  '2:04:56',
  'Sammy Kipchoge KORIR',
  '12 DEC 1971',
  'KEN',
  '2',
  'Berlin (GER)',
  '28 SEP 2003',
  '1254'],
 ['96',
  '2:04:56',
  'Jonathan MAIYO',
  '05 MAY 1988',
  'KEN',
  '4',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1254'],
 ['98',
  '2:04:57',
  'Wilson Kipsang KIPROTICH',
  '15 MAR 1982',
  'KEN',
  '1',
  'Frankfurt (GER)',
  '31 OCT 2010',
  '1254'],
 ['99',
  '2:04:58',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '1',
  'Ljubljana (SLO)',
  '28 OCT 2018',
  '1253'],
 ['100',
  '2:05:00',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '13 APR 2014',
  '1253'],
 ['100',
  '2:05:00',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '1',
  'Buenos Aires (ARG)',
  '22 SEP 2019',
  '1253'],
 ['100',
  '2:05:00',
  'Philemon RONO',
  '08 FEB 1991',
  'KEN',
  '1',
  'Toronto (CAN)',
  '20 OCT 2019',
  '1253'],
 ['103',
  '2:05:01',
  'Shura KITATA',
  '09 JUN 1996',
  'ETH',
  '4',
  'London (GBR)',
  '28 APR 2019',
  '1252'],
 ['104',
  '2:05:02',
  'Emmanuel SAINA',
  '06 SEP 1992',
  'KEN',
  '4',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1252'],
 ['105',
  '2:05:03',
  'Moses MOSOP',
  '07 JUL 1985',
  'KEN',
  '3',
  'Rotterdam (NED)',
  '15 APR 2012',
  '1252'],
 ['106',
  '2:05:04',
  'Abel KIRUI',
  '04 JUN 1982',
  'KEN',
  '3',
  'Rotterdam (NED)',
  '05 APR 2009',
  '1251'],
 ['106',
  '2:05:04',
  'Kenenisa BEKELE',
  '13 JUN 1982',
  'ETH',
  '1',
  'Paris (FRA)',
  '06 APR 2014',
  '1251'],
 ['108',
  '2:05:05',
  'Barnabas KIPTUM',
  '08 DEC 1986',
  'KEN',
  '2',
  'Sevilla (ESP)',
  '23 FEB 2020',
  '1251'],
 ['108',
  '2:05:05',
  'Abel KIRUI',
  '04 JUN 1982',
  'KEN',
  '7',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1251'],
 ['110',
  '2:05:06',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '1',
  'New York, NY (USA)',
  '06 NOV 2011',
  '1251'],
 ['111',
  '2:05:08',
  'Patrick Makau MUSYOKI',
  '02 MAR 1985',
  'KEN',
  '1',
  'Berlin (GER)',
  '26 SEP 2010',
  '1250'],
 ['112',
  '2:05:09',
  'Lawrence CHERONO',
  '07 AUG 1988',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '15 OCT 2017',
  '1250'],
 ['112',
  '2:05:09',
  'Vincent KIPCHUMBA',
  '03 AUG 1990',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1250'],
 ['112',
  '2:05:09',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '2',
  'Toronto (CAN)',
  '20 OCT 2019',
  '1250'],
 ['115',
  '2:05:10',
  'Samuel Kamau WANJIRU',
  '10 NOV 1986',
  'KEN',
  '1',
  'London (GBR)',
  '26 APR 2009',
  '1250'],
 ['115',
  '2:05:10',
  'Geoffrey MUTAI',
  '07 OCT 1981',
  'KEN',
  '2',
  'Berlin (GER)',
  '26 SEP 2010',
  '1250'],
 ['115',
  '2:05:10',
  'Tadesse TOLA',
  '31 OCT 1987',
  'ETH',
  '5',
  'Dubai (UAE)',
  '27 JAN 2012',
  '1250'],
 ['118',
  '2:05:11',
  'Mo FARAH',
  '23 MAR 1983',
  'GBR',
  '1',
  'Chicago, IL (USA)',
  '07 OCT 2018',
  '1249'],
 ['119',
  '2:05:12',
  'Stanley Kipleting BIWOTT',
  '21 APR 1986',
  'KEN',
  '1',
  'Paris (FRA)',
  '15 APR 2012',
  '1249'],
 ['119',
  '2:05:12',
  'Felix CHEMONGES',
  '10 OCT 1995',
  'UGA',
  '3',
  'Toronto (CAN)',
  '20 OCT 2019',
  '1249'],
 ['121',
  '2:05:13',
  'Vincent KIPRUTO',
  '13 SEP 1987',
  'KEN',
  '3',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1249'],
 ['121',
  '2:05:13',
  'Markos GENETI',
  '07 JUN 1984',
  'ETH',
  '2',
  'Dubai (UAE)',
  '24 JAN 2014',
  '1249'],
 ['121',
  '2:05:13',
  'Wilson Loyanae ERUPE',
  '20 NOV 1988',
  'KEN',
  '1',
  'Seoul (KOR)',
  '20 MAR 2016',
  '1249'],
 ['121',
  '2:05:13',
  'Nobert KIGEN',
  '24 JAN 1993',
  'KEN',
  '2',
  'Amsterdam (NED)',
  '15 OCT 2017',
  '1249'],
 ['121',
  '2:05:13',
  'Benson KIPRUTO',
  '17 MAR 1991',
  'KEN',
  '4',
  'Toronto (CAN)',
  '20 OCT 2019',
  '1249'],
 ['126',
  '2:05:15',
  'Martin Kiptolo LEL',
  '29 OCT 1978',
  'KEN',
  '1',
  'London (GBR)',
  '13 APR 2008',
  '1248'],
 ['126',
  '2:05:15',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '1',
  'Valencia (ESP)',
  '19 NOV 2017',
  '1248'],
 ['126',
  '2:05:15',
  'Abebe Negewo DEGEFA',
  '20 MAY 1984',
  'ETH',
  '8',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1248'],
 ['129',
  '2:05:16',
  'Levi Omari MATEBO',
  '03 NOV 1989',
  'KEN',
  '2',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1248'],
 ['129',
  '2:05:16',
  'Sammy KITWARA',
  '26 NOV 1986',
  'KEN',
  '3',
  'Chicago, IL (USA)',
  '13 OCT 2013',
  '1248'],
 ['129',
  '2:05:16',
  'Sisay LEMMA',
  '12 DEC 1990',
  'ETH',
  '4',
  'Dubai (UAE)',
  '22 JAN 2016',
  '1248'],
 ['129',
  '2:05:16',
  'Soloman DEKSISA',
  '11 MAR 1994',
  'ETH',
  '2',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1248'],
 ['133',
  '2:05:18',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'Fukuoka (JPN)',
  '06 DEC 2009',
  '1247'],
 ['133',
  '2:05:18',
  'Shifera TAMRU',
  '01 OCT 1998',
  'ETH',
  '5',
  'Dubai (UAE)',
  '25 JAN 2019',
  '1247'],
 ['133',
  '2:05:18',
  'Reuben Kiprop KIPYEGO',
  '21 AUG 1996',
  'KEN',
  '2',
  'Buenos Aires (ARG)',
  '22 SEP 2019',
  '1247'],
 ['133',
  '2:05:18',
  'Elisha ROTICH',
  '12 APR 1990',
  'KEN',
  '3',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1247'],
 ['137',
  '2:05:19',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '1',
  'London (GBR)',
  '25 APR 2010',
  '1247'],
 ['138',
  '2:05:20',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '2',
  'London (GBR)',
  '26 APR 2009',
  '1246'],
 ['139',
  '2:05:21',
  'Eliud KIPTANUI',
  '06 JUN 1989',
  'KEN',
  '2',
  'Berlin (GER)',
  '27 SEP 2015',
  '1246'],
 ['139',
  '2:05:21',
  'Daniel KINYUA',
  '25 MAY 1992',
  'KEN',
  '1',
  'Amsterdam (NED)',
  '16 OCT 2016',
  '1246'],
 ['139',
  '2:05:21',
  'Emmanuel SAINA',
  '06 SEP 1992',
  'KEN',
  '1',
  'Buenos Aires (ARG)',
  '23 SEP 2018',
  '1246'],
 ['139',
  '2:05:21',
  'Tsegaye KEBEDE',
  '15 JAN 1987',
  'ETH',
  '4',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1246'],
 ['143',
  '2:05:22',
  'Nobert KIGEN',
  '24 JAN 1993',
  'KEN',
  '5',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1246'],
 ['144',
  '2:05:23',
  'Feyisa LILESA',
  '01 FEB 1990',
  'ETH',
  '4',
  'Rotterdam (NED)',
  '11 APR 2010',
  '1246'],
 ['145',
  '2:05:24',
  'Samuel Kamau WANJIRU',
  '10 NOV 1986',
  'KEN',
  '2',
  'London (GBR)',
  '13 APR 2008',
  '1245'],
 ['145',
  '2:05:24',
  'Mosinet GEREMEW',
  '12 FEB 1992',
  'ETH',
  '2',
  'Chicago, IL (USA)',
  '07 OCT 2018',
  '1245'],
 ['147',
  '2:05:25',
  'Bazu WORKU HAYLA',
  '15 SEP 1990',
  'ETH',
  '3',
  'Berlin (GER)',
  '26 SEP 2010',
  '1245'],
 ['147',
  '2:05:25',
  'Albert Kiplagat MATEBOR',
  '25 DEC 1980',
  'KEN',
  '3',
  'Frankfurt (GER)',
  '30 OCT 2011',
  '1245'],
 ['149',
  '2:05:26',
  'Abraham KIPTUM',
  '15 SEP 1989',
  'KEN',
  '3',
  'Amsterdam (NED)',
  '15 OCT 2017',
  '1245'],
 ['149',
  '2:05:26',
  'El Mahjoub DAZZA',
  '03 MAR 1991',
  'MAR',
  '6',
  'Valencia (ESP)',
  '02 DEC 2018',
  '1245'],
 ['151',
  '2:05:27',
  'Jaouad GHARIB',
  '22 MAY 1972',
  'MAR',
  '3',
  'London (GBR)',
  '26 APR 2009',
  '1244'],
 ['151',
  '2:05:27',
  'Wilson Kwambai CHEBET',
  '12 JUL 1985',
  'KEN',
  '1',
  'Rotterdam (NED)',
  '10 APR 2011',
  '1244'],
 ['151',
  '2:05:27',
  'Tilahun REGASSA',
  '18 JAN 1990',
  'ETH',
  '3',
  'Chicago, IL (USA)',
  '07 OCT 2012',
  '1244'],
 ['151',
  '2:05:27',
  'Kaan Kigen ÖZBILEN',
  '15 JAN 1986',
  'TUR',
  '2',
  'Rotterdam (NED)',
  '07 APR 2019',
  '1244'],
 ['155',
  '2:05:28',
  'Hayle LEMI',
  '13 SEP 1994',
  'ETH',
  '1',
  'Dubai (UAE)',
  '23 JAN 2015',
  '1244'],
 ['155',
  '2:05:28',
  'Betesfa GETAHUN',
  '25 SEP 1998',
  'ETH',
  '4',
  'Amsterdam (NED)',
  '20 OCT 2019',
  '1244'],
 ['157',
  '2:05:29',
  'Haile GEBRSELASSIE',
  '18 APR 1973',
  'ETH',
  '1f1',
  'Dubai (UAE)',
  '16 JAN 2009',
  '1244'],
 ['157',
  '2:05:29',
  'Shifera TAMRU',
  '01 OCT 1998',
  'ETH',
  '1',
  'Seoul (KOR)',
  '03 NOV 2019',
  '1244'],
 ['157',
  '2:05:29',
  'Suguru OSAKO',
  '23 MAY 1991',
  'JPN',
  '4',
  'Tokyo (JPN)',
  '01 MAR 2020',
  '1244'],
 ['157',
  '2:05:29',
  'Leul GEBRESILASE',
  '20 SEP 1992',
  'ETH',
  '9',
  'Valencia (ESP)',
  '06 DEC 2020',
  '1244'],
 ['161',
  '2:05:30',
  'Abderrahim GOUMRI',
  '21 MAY 1976',
  'MAR',
  '3',
  'London (GBR)',
  '13 APR 2008',
  '1243'],
 ['161',
  '2:05:30',
  'Eliud KIPCHOGE',
  '05 NOV 1984',
  'KEN',
  '1',
  'Hamburg (GER)',
  '21 APR 2013',
  '1243'],
 ['161',
  '2:05:30',
  'Evans CHEBET',
  '10 NOV 1988',
  'KEN',
  '2',
  'Valencia (ESP)',
  '19 NOV 2017',
  '1243'],
 ['161',
  '2:05:30',

In [47]:
# Volcamos todos estos datos en un dataset. Ya podemos empezar a trabajar sobre ellos!
df = pd.DataFrame(top_1500_marathon_times)
df

,0,1,2,3,4,5,6,7,8
0,1,2:01:39,Eliud KIPCHOGE,05 NOV 1984,KEN,1,Berlin (GER),16 SEP 2018,1316
1,2,2:01:41,Kenenisa BEKELE,13 JUN 1982,ETH,1,Berlin (GER),29 SEP 2019,1315
2,3,2:02:37,Eliud KIPCHOGE,05 NOV 1984,KEN,1,London (GBR),28 APR 2019,1297
3,4,2:02:48,Birhanu LEGESE,11 SEP 1994,ETH,2,Berlin (GER),29 SEP 2019,1294
4,5,2:02:55,Mosinet GEREMEW,12 FEB 1992,ETH,2,London (GBR),28 APR 2019,1292
...,...,...,...,...,...,...,...,...,...
1495,1477,2:08:33,Arne GABIUS,22 MAR 1981,GER,4,Frankfurt (GER),25 OCT 2015,1188
1496,1477,2:08:33,Marius KIMUTAI,10 DEC 1992,BRN,1,Ljubljana (SLO),29 OCT 2017,1188
1497,1477,2:08:33,El Mahjoub DAZZA,03 MAR 1991,MAR,5,Daegu (KOR),01 APR 2018,1188
1498,1499,2:08:34,Derek CLAYTON,17 NOV 1942,AUS,1,Antwerpen (BEL),30 MAY 1969,1187
1499,1499,2:08:34,Wan-ki KIM,08 JUL 1968,KOR,2,Kyongju (KOR),20 MAR 1994,1187

In [48]:
df.to_csv("output/data.csv")

In [81]:
#data_scraped = []
#rows = soup.select(".records-table tbody tr")
#for row in rows:
 #   athlete = []
  #  for content in row.select("td"):
   #     if len(content.text) > 0:
    #        athlete.append(content.text.strip())    
    #data_scraped.append(athlete)
from pprint import pprint

class MarathonRecord:
    def __init__(self, rank, mark, competitor, dob, nat, pos, venue, date, value_score):
        self.rank = rank
        self.mark = mark
        self.competitor = competitor
        self.dob = dob
        self.nat = nat
        self.pos = pos
        self.venue = venue
        self.date = date
        self.value_score = value_score
    
marathon_records = []
rows = soup.select(".records-table tbody tr")
for row in rows:
    tds = row.select("td")
    marathon_record = MarathonRecord(
        rank = tds[0].text.strip(),
        mark = tds[1].text.strip(),
        competitor = tds[2].text.strip(),
        dob = tds[3].text.strip(),
        nat = tds[4].text.strip(),
        pos = tds[5].text.strip(),
        venue = tds[7].text.strip(),
        date = tds[8].text.strip(),
        value_score = tds[9].text.strip()
    )
    marathon_records.append(marathon_record)


# esta función sería la que nosotros llamaríamos y nos devolvería una lista de 1.000 MarathonRecords (la clase que hemos creado justo arriba)
def get_all_marathon_records:
    # para ello llamaremos tantas veces queramos (en principio 10)
    # a la otra función get_marathon_records(page) pasándole la página correspondiente 
    # y haciendo la gestión de ir añadiendo a la lista que finalmente devolveremos

def get_marathon_records(page):
    # esta función devuelve una lista de MarathonRecords para la página concreta que se nos pasa
    # para hacer scraping
    url = "https://www.worldathletics.org/records/all-time-toplists/road-running/marathon/outdoor/men/senior"
    params = {"page":page}
    data = requests.get(url, params=params)
    soup = BeautifulSoup(data.text)
    marathon_records = []
    rows = soup.select(".records-table tbody tr")
    for row in rows:
        tds = row.select("td")
        marathon_record = MarathonRecord(
            rank = tds[0].text.strip(),
            mark = tds[1].text.strip(),
            competitor = tds[2].text.strip(),
            dob = tds[3].text.strip(),
            nat = tds[4].text.strip(),
            pos = tds[5].text.strip(),
            venue = tds[7].text.strip(),
            date = tds[8].text.strip(),
            value_score = tds[9].text.strip()
        )
        marathon_records.append(marathon_record)
    return marathon_records
# uso final:
# marathon_records = get_all_marathon_records()
# 
# una vez ya tengamos esto, la primera parte del problema esta resuelta
# lo siguiente será crear el dataframe y proceder a su limpieza, mejora (mediante APIs), etc
# por último ya haremos las predicciones

1
2:01:39
Eliud KIPCHOGE
05 NOV 1984
KEN
1
Berlin (GER)
16 SEP 2018
1316
....
2
2:01:41
Kenenisa BEKELE
13 JUN 1982
ETH
1
Berlin (GER)
29 SEP 2019
1315
....
3
2:02:48
Birhanu LEGESE
11 SEP 1994
ETH
2
Berlin (GER)
29 SEP 2019
1294
....
4
2:02:55
Mosinet GEREMEW
12 FEB 1992
ETH
2
London (GBR)
28 APR 2019
1292
....
5
2:02:57
Dennis KIMETTO
22 APR 1984
KEN
1
Berlin (GER)
28 SEP 2014
1291
....
6
2:03:00
Evans CHEBET
10 NOV 1988
KEN
1
Valencia (ESP)
06 DEC 2020
1290
....
7
2:03:04
Lawrence CHERONO
07 AUG 1988
KEN
2
Valencia (ESP)
06 DEC 2020
1289
....
8
2:03:13
Emmanuel MUTAI
12 OCT 1984
KEN
2
Berlin (GER)
28 SEP 2014
1286
....
8
2:03:13
Wilson Kipsang KIPROTICH
15 MAR 1982
KEN
2
Berlin (GER)
25 SEP 2016
1286
....
10
2:03:16
Mule WASIHUN
20 OCT 1993
ETH
3
London (GBR)
28 APR 2019
1285
....
11
2:03:30
Amos KIPRUTO
16 SEP 1992
KEN
4
Valencia (ESP)
06 DEC 2020
1281
....
12
2:03:34
Getaneh MOLLA
10 JAN 1994
ETH
1
Dubai (UAE)
25 JAN 2019
1279
....
13
2:03:36
Sisay LEMMA
12 DEC 1990
ETH
3
Berlin (GER)
29 SEP 2019
1279
....
14
2:03:38
Patrick Makau MUSYOKI
02 MAR 1985
KEN
1
Berlin (GER)
25 SEP 2011
1278
....
15
2:03:40
Herpasa NEGASA
11 SEP 1993
ETH
2
Dubai (UAE)
25 JAN 2019
1278
....
16
2:03:46
Guye Idemo ADOLA
20 OCT 1990
ETH
2
Berlin (GER)
24 SEP 2017
1276
....
17
2:03:51
Stanley Kipleting BIWOTT
21 APR 1986
KEN
2
London (GBR)
24 APR 2016
1274
....
17
2:03:51
Kinde ATANAW
15 APR 1993
ETH
1
Valencia (ESP)
01 DEC 2019
1274
....
19
2:03:59
Haile GEBRSELASSIE
18 APR 1973
ETH
1
Berlin (GER)
28 SEP 2008
1272
....
20
2:04:02
Leul GEBRESILASE
20 SEP 1992
ETH
2
Dubai (UAE)
26 JAN 2018
1271
....
21
2:04:06
Tamirat TOLA
11 AUG 1991
ETH
3
Dubai (UAE)
26 JAN 2018
1269
....
21
2:04:06
Asefa MENGSTU
22 JAN 1988
ETH
4
Dubai (UAE)
26 JAN 2018
1269
....
23
2:04:11
Marius KIPSEREM
17 MAY 1988
KEN
1
Rotterdam (NED)
07 APR 2019
1268
....
24
2:04:12
Reuben KERIO
02 JUN 1994
KEN
5
Valencia (ESP)
06 DEC 2020
1268
....
25
2:04:15
Geoffrey MUTAI
07 OCT 1981
KEN
1
Berlin (GER)
30 SEP 2012
1267
....
26
2:04:16
Kaan Kigen ÖZBILEN
15 JAN 1986
TUR
2
Valencia (ESP)
01 DEC 2019
1266
....
27
2:04:23
Ayele ABSHERO
28 DEC 1990
ETH
1
Dubai (UAE)
27 JAN 2012
1264
....
28
2:04:24
Tesfaye ABERA
31 MAR 1992
ETH
1
Dubai (UAE)
22 JAN 2016
1264
....
29
2:04:27
Duncan KIBET
25 APR 1978
KEN
1
Rotterdam (NED)
05 APR 2009
1263
....
29
2:04:27
James Kipsang KWAMBAI
28 FEB 1983
KEN
2
Rotterdam (NED)
05 APR 2009
1263
....
31
2:04:28
Sammy KITWARA
26 NOV 1986
KEN
2
Chicago, IL (USA)
12 OCT 2014
1263
....
32
2:04:32
Tsegaye MEKONNEN
15 JUN 1995
ETH
1
Dubai (UAE)
24 JAN 2014
1261
....
32
2:04:32
Dickson CHUMBA
27 OCT 1986
KEN
3
Chicago, IL (USA)
12 OCT 2014
1261
....
34
2:04:33
Hayle LEMI
13 SEP 1994
ETH
2
Dubai (UAE)
22 JAN 2016
1261
....
35
2:04:38
Tsegaye KEBEDE
15 JAN 1987
ETH
1
Chicago, IL (USA)
07 OCT 2012
1259
....
36
2:04:40
Soloman DEKSISA
11 MAR 1994
ETH
3
Amsterdam (NED)
21 OCT 2018
1259
....
36
2:04:40
Reuben Kiprop KIPYEGO
21 AUG 1996
KEN
1
Abu Dhabi (UAE)
06 DEC 2019
1259
....
38
2:04:43
El Hassan EL ABBASSI
13 APR 1984
BRN
2
Valencia (ESP)
02 DEC 2018
1258
....
39
2:04:44
Seifu TURA
19 JUN 1997
ETH
7
Dubai (UAE)
26 JAN 2018
1258
....
40
2:04:45
Lelisa DESISA
14 JAN 1990
ETH
1
Dubai (UAE)
25 JAN 2013
1257
....
41
2:04:46
Titus EKIRU
02 JAN 1992
KEN
1
Milano (ITA)
07 APR 2019
1257
....
41
2:04:46
Mekuant Ayenew GEBRE
1991
ETH
1
Sevilla (ESP)
23 FEB 2020
1257
....
43
2:04:48
Yemane TSEGAY
08 APR 1985
ETH
1
Rotterdam (NED)
15 APR 2012
1256
....
43
2:04:48
Berhanu SHIFERAW
31 MAY 1993
ETH
2
Dubai (UAE)
25 JAN 2013
1256
....
45
2:04:49
Tadesse TOLA
31 OCT 1987
ETH
3
Dubai (UAE)
25 JAN 2013
1256
....
45
2:04:49
Shura KITATA
09 JUN 1996
ETH
2
London (GBR)
22 APR 2018
1256
....
45
2:04:49
Bashir ABDI
10 FEB 1989
BEL
2
Tokyo (JPN)
01 MAR 2020
1256
....
48
2:04:50
Dino SEFIR
28 MAY 1988
ETH
2
Dubai (UAE)
27 JAN 2012
1256
....
48
2:04:50
Getu FELEKE
28 NOV 1986
ETH
2
Rotterdam (NED)
15 APR 2012
1256
....
50
2:04:51
Abebe Negewo DEGEFA
20 MAY 1984
ETH
4
Valencia (ESP)
01 DEC 2019
1255
....
51
2:04:52
Feyisa LILESA
01 FEB 1990
ETH
2
Chicago, IL (USA)
07 OCT 2012
1255
....
51
2:04:52
Endeshaw NEGESSE
13 MAR 1988
ETH
4
Dubai (UAE)
25 JAN 2013
1255
....
53
2:04:53
Bernard Kiprop KOECH
31 JAN 1988
KEN
5
Dubai (UAE)
25 JAN 2013
1255
....
53
2:04:53
Mathew Kipkoech KISORIO
16 MAY 1989
KEN
3
Valencia (ESP)
02 DEC 2018
1255
....
53
2:04:53
Deso GELMISA

ETH
6
Valencia (ESP)
06 DEC 2020
1255
....
56
2:04:54
Markos GENETI
07 JUN 1984
ETH
3
Dubai (UAE)
27 JAN 2012
1255
....
57
2:04:55
Paul TERGAT
17 JUN 1969
KEN
1
Berlin (GER)
28 SEP 2003
1254
....
58
2:04:56
Sammy Kipchoge KORIR
12 DEC 1971
KEN
2
Berlin (GER)
28 SEP 2003
1254
....
58
2:04:56
Jonathan MAIYO
05 MAY 1988
KEN
4
Dubai (UAE)
27 JAN 2012
1254
....
60
2:05:00
Philemon RONO
08 FEB 1991
KEN
1
Toronto (CAN)
20 OCT 2019
1253
....
61
2:05:02
Emmanuel SAINA
06 SEP 1992
KEN
4
Dubai (UAE)
25 JAN 2019
1252
....
62
2:05:03
Moses MOSOP
07 JUL 1985
KEN
3
Rotterdam (NED)
15 APR 2012
1252
....
63
2:05:04
Abel KIRUI
04 JUN 1982
KEN
3
Rotterdam (NED)
05 APR 2009
1251
....
64
2:05:05
Barnabas KIPTUM
08 DEC 1986
KEN
2
Sevilla (ESP)
23 FEB 2020
1251
....
65
2:05:09
Vincent KIPCHUMBA
03 AUG 1990
KEN
1
Amsterdam (NED)
20 OCT 2019
1250
....
66
2:05:10
Samuel Kamau WANJIRU
10 NOV 1986
KEN
1
London (GBR)
26 APR 2009
1250
....
67
2:05:11
Mo FARAH
23 MAR 1983
GBR
1
Chicago, IL (USA)
07 OCT 2018
1249
....
68
2:05:12
Felix CHEMONGES
10 OCT 1995
UGA
3
Toronto (CAN)
20 OCT 2019
1249
....
69
2:05:13
Vincent KIPRUTO
13 SEP 1987
KEN
3
Rotterdam (NED)
11 APR 2010
1249
....
69
2:05:13
Wilson Loyanae ERUPE
20 NOV 1988
KEN
1
Seoul (KOR)
20 MAR 2016
1249
....
69
2:05:13
Nobert KIGEN
24 JAN 1993
KEN
2
Amsterdam (NED)
15 OCT 2017
1249
....
69
2:05:13
Benson KIPRUTO
17 MAR 1991
KEN
4
Toronto (CAN)
20 OCT 2019
1249
....
73
2:05:15
Martin Kiptolo LEL
29 OCT 1978
KEN
1
London (GBR)
13 APR 2008
1248
....
74
2:05:16
Levi Omari MATEBO
03 NOV 1989
KEN
2
Frankfurt (GER)
30 OCT 2011
1248
....
75
2:05:18
Shifera TAMRU
01 OCT 1998
ETH
5
Dubai (UAE)
25 JAN 2019
1247
....
75
2:05:18
Elisha ROTICH
12 APR 1990
KEN
3
Amsterdam (NED)
20 OCT 2019
1247
....
77
2:05:21
Eliud KIPTANUI
06 JUN 1989
KEN
2
Berlin (GER)
27 SEP 2015
1246
....
77
2:05:21
Daniel KINYUA
25 MAY 1992
KEN
1
Amsterdam (NED)
16 OCT 2016
1246
....
79
2:05:25
Bazu WORKU HAYLA
15 SEP 1990
ETH
3
Berlin (GER)
26 SEP 2010
1245
....
79
2:05:25
Albert Kiplagat MATEBOR
25 DEC 1980
KEN
3
Frankfurt (GER)
30 OCT 2011
1245
....
81
2:05:26
Abraham KIPTUM
15 SEP 1989
KEN
3
Amsterdam (NED)
15 OCT 2017
1245
....
81
2:05:26
El Mahjoub DAZZA
03 MAR 1991
MAR
6
Valencia (ESP)
02 DEC 2018
1245
....
83
2:05:27
Jaouad GHARIB
22 MAY 1972
MAR
3
London (GBR)
26 APR 2009
1244
....
83
2:05:27
Wilson Kwambai CHEBET
12 JUL 1985
KEN
1
Rotterdam (NED)
10 APR 2011
1244
....
83
2:05:27
Tilahun REGASSA
18 JAN 1990
ETH
3
Chicago, IL (USA)
07 OCT 2012
1244
....
86
2:05:28
Betesfa GETAHUN
25 SEP 1998
ETH
4
Amsterdam (NED)
20 OCT 2019
1244
....
87
2:05:29
Suguru OSAKO
23 MAY 1991
JPN
4
Tokyo (JPN)
01 MAR 2020
1244
....
88
2:05:30
Abderrahim GOUMRI
21 MAY 1976
MAR
3
London (GBR)
13 APR 2008
1243
....
89
2:05:33
Filex Kipchirchir KIPROTICH
07 DEC 1988
KEN
1
Daegu (KOR)
07 APR 2019
1242
....
90
2:05:38
Khalid KHANNOUCHI
22 DEC 1971
USA
1
London (GBR)
14 APR 2002
1241
....
90
2:05:38
Peter Kimeli SOME
05 JUN 1990
KEN
1
Paris (FRA)
07 APR 2013
1241
....
92
2:05:41
Dadi Yami GEMEDA
1982
ETH
6
Dubai (UAE)
27 JAN 2012
1240
....
93
2:05:42
Shami Abdullah DAWIT
16 JUL 1984
ETH
7
Dubai (UAE)
27 JAN 2012
1240
....
93
2:05:42
Deressa CHIMSA
21 NOV 1976
ETH
8
Dubai (UAE)
27 JAN 2012
1240
....
95
2:05:44
Kenneth Kiprop KIPKEMOI
02 AUG 1984
KEN
1
Rotterdam (NED)
08 APR 2018
1239
....
96
2:05:46
Dejene DEBELA
09 JAN 1995
ETH
2
Chicago, IL (USA)
13 OCT 2019
1238
....
97
2:05:47
Marius KIMUTAI
10 DEC 1992
KEN
3
Amsterdam (NED)
16 OCT 2016
1238
....
98
2:05:48
Jafred Chirchir KIPCHUMBA
08 AUG 1983
KEN
1
Eindhoven (NED)
09 OCT 2011
1238
....
98
2:05:48
Sondre Nordstad MOEN
12 JAN 1991
NOR
1
Fukuoka (JPN)
03 DEC 2017
1238
....
100
2:05:49
William KIPSANG
26 JUN 1977
KEN
1
Rotterdam (NED)
13 APR 2008
1238
....

In [59]:
class MarathonRecord:
    def __init__(self, rank, mark, competitor, dob, nat, pos, venue, date, value_score):
        self.rank = rank
        self.mark = mark
        self.competitor = competitor
        self.dob = dob
        self.nat = nat
        self.pos = pos
        self.venue = venue
        self.date = date
        self.value_score = value_score
    
    def __str__(self):
        return f"{self.rank} {self.mark} {self.competitor} {self.dob} {self.nat} {self.pos} {self.venue} {self.date} {self.value_score}"

def get_marathon_records(page):
    # esta función devuelve una lista de MarathonRecords para la página concreta que se nos pasa
    # para hacer scraping
    url = "https://www.worldathletics.org/records/all-time-toplists/road-running/marathon/outdoor/men/senior"
    params = {"page":page}
    data = requests.get(url, params=params)
    soup = BeautifulSoup(data.text)
    marathon_records = []
    rows = soup.select(".records-table tbody tr")
    for row in rows:
        tds = row.select("td")
        marathon_record = MarathonRecord(
            rank = tds[0].text.strip(),
            mark = tds[1].text.strip(),
            competitor = tds[2].text.strip(),
            dob = tds[3].text.strip(),
            nat = tds[4].text.strip(),
            pos = tds[5].text.strip(),
            venue = tds[7].text.strip(),
            date = tds[8].text.strip(),
            value_score = tds[9].text.strip()
        )
        marathon_records.append(marathon_record)
    return marathon_records

In [60]:
for marathon_record in get_marathon_records(1):
    print(marathon_record)

1 2:01:39 Eliud KIPCHOGE 05 NOV 1984 KEN 1 Berlin (GER) 16 SEP 2018 1316
2 2:01:41 Kenenisa BEKELE 13 JUN 1982 ETH 1 Berlin (GER) 29 SEP 2019 1315
3 2:02:48 Birhanu LEGESE 11 SEP 1994 ETH 2 Berlin (GER) 29 SEP 2019 1294
4 2:02:55 Mosinet GEREMEW 12 FEB 1992 ETH 2 London (GBR) 28 APR 2019 1292
5 2:02:57 Dennis KIMETTO 22 APR 1984 KEN 1 Berlin (GER) 28 SEP 2014 1291
6 2:03:00 Evans CHEBET 10 NOV 1988 KEN 1 Valencia (ESP) 06 DEC 2020 1290
7 2:03:04 Lawrence CHERONO 07 AUG 1988 KEN 2 Valencia (ESP) 06 DEC 2020 1289
8 2:03:13 Emmanuel MUTAI 12 OCT 1984 KEN 2 Berlin (GER) 28 SEP 2014 1286
8 2:03:13 Wilson Kipsang KIPROTICH 15 MAR 1982 KEN 2 Berlin (GER) 25 SEP 2016 1286
10 2:03:16 Mule WASIHUN 20 OCT 1993 ETH 3 London (GBR) 28 APR 2019 1285
11 2:03:30 Amos KIPRUTO 16 SEP 1992 KEN 4 Valencia (ESP) 06 DEC 2020 1281
12 2:03:34 Getaneh MOLLA 10 JAN 1994 ETH 1 Dubai (UAE) 25 JAN 2019 1279
13 2:03:36 Sisay LEMMA 12 DEC 1990 ETH 3 Berlin (GER) 29 SEP 2019 1279
14 2:03:38 Patrick Makau MUSYOKI 02 MAR 1985 KEN 1 Berlin (GER) 25 SEP 2011 1278
15 2:03:40 Herpasa NEGASA 11 SEP 1993 ETH 2 Dubai (UAE) 25 JAN 2019 1278
16 2:03:46 Guye Idemo ADOLA 20 OCT 1990 ETH 2 Berlin (GER) 24 SEP 2017 1276
17 2:03:51 Stanley Kipleting BIWOTT 21 APR 1986 KEN 2 London (GBR) 24 APR 2016 1274
17 2:03:51 Kinde ATANAW 15 APR 1993 ETH 1 Valencia (ESP) 01 DEC 2019 1274
19 2:03:59 Haile GEBRSELASSIE 18 APR 1973 ETH 1 Berlin (GER) 28 SEP 2008 1272
20 2:04:02 Leul GEBRESILASE 20 SEP 1992 ETH 2 Dubai (UAE) 26 JAN 2018 1271
21 2:04:06 Tamirat TOLA 11 AUG 1991 ETH 3 Dubai (UAE) 26 JAN 2018 1269
21 2:04:06 Asefa MENGSTU 22 JAN 1988 ETH 4 Dubai (UAE) 26 JAN 2018 1269
23 2:04:11 Marius KIPSEREM 17 MAY 1988 KEN 1 Rotterdam (NED) 07 APR 2019 1268
24 2:04:12 Reuben KERIO 02 JUN 1994 KEN 5 Valencia (ESP) 06 DEC 2020 1268
25 2:04:15 Geoffrey MUTAI 07 OCT 1981 KEN 1 Berlin (GER) 30 SEP 2012 1267
26 2:04:16 Kaan Kigen ÖZBILEN 15 JAN 1986 TUR 2 Valencia (ESP) 01 DEC 2019 1266
27 2:04:23 Ayele ABSHERO 28 DEC 1990 ETH 1 Dubai (UAE) 27 JAN 2012 1264
28 2:04:24 Tesfaye ABERA 31 MAR 1992 ETH 1 Dubai (UAE) 22 JAN 2016 1264
29 2:04:27 Duncan KIBET 25 APR 1978 KEN 1 Rotterdam (NED) 05 APR 2009 1263
29 2:04:27 James Kipsang KWAMBAI 28 FEB 1983 KEN 2 Rotterdam (NED) 05 APR 2009 1263
31 2:04:28 Sammy KITWARA 26 NOV 1986 KEN 2 Chicago, IL (USA) 12 OCT 2014 1263
32 2:04:32 Tsegaye MEKONNEN 15 JUN 1995 ETH 1 Dubai (UAE) 24 JAN 2014 1261
32 2:04:32 Dickson CHUMBA 27 OCT 1986 KEN 3 Chicago, IL (USA) 12 OCT 2014 1261
34 2:04:33 Hayle LEMI 13 SEP 1994 ETH 2 Dubai (UAE) 22 JAN 2016 1261
35 2:04:38 Tsegaye KEBEDE 15 JAN 1987 ETH 1 Chicago, IL (USA) 07 OCT 2012 1259
36 2:04:40 Soloman DEKSISA 11 MAR 1994 ETH 3 Amsterdam (NED) 21 OCT 2018 1259
36 2:04:40 Reuben Kiprop KIPYEGO 21 AUG 1996 KEN 1 Abu Dhabi (UAE) 06 DEC 2019 1259
38 2:04:43 El Hassan EL ABBASSI 13 APR 1984 BRN 2 Valencia (ESP) 02 DEC 2018 1258
39 2:04:44 Seifu TURA 19 JUN 1997 ETH 7 Dubai (UAE) 26 JAN 2018 1258
40 2:04:45 Lelisa DESISA 14 JAN 1990 ETH 1 Dubai (UAE) 25 JAN 2013 1257
41 2:04:46 Titus EKIRU 02 JAN 1992 KEN 1 Milano (ITA) 07 APR 2019 1257
41 2:04:46 Mekuant Ayenew GEBRE 1991 ETH 1 Sevilla (ESP) 23 FEB 2020 1257
43 2:04:48 Yemane TSEGAY 08 APR 1985 ETH 1 Rotterdam (NED) 15 APR 2012 1256
43 2:04:48 Berhanu SHIFERAW 31 MAY 1993 ETH 2 Dubai (UAE) 25 JAN 2013 1256
45 2:04:49 Tadesse TOLA 31 OCT 1987 ETH 3 Dubai (UAE) 25 JAN 2013 1256
45 2:04:49 Shura KITATA 09 JUN 1996 ETH 2 London (GBR) 22 APR 2018 1256
45 2:04:49 Bashir ABDI 10 FEB 1989 BEL 2 Tokyo (JPN) 01 MAR 2020 1256
48 2:04:50 Dino SEFIR 28 MAY 1988 ETH 2 Dubai (UAE) 27 JAN 2012 1256
48 2:04:50 Getu FELEKE 28 NOV 1986 ETH 2 Rotterdam (NED) 15 APR 2012 1256
50 2:04:51 Abebe Negewo DEGEFA 20 MAY 1984 ETH 4 Valencia (ESP) 01 DEC 2019 1255
51 2:04:52 Feyisa LILESA 01 FEB 1990 ETH 2 Chicago, IL (USA) 07 OCT 2012 1255
51 2:04:52 Endeshaw NEGESSE 13 MAR 1988 ETH 4 Dubai (UAE) 25 JAN 2013 1255
53 2:04:53 Bernard Kiprop KOECH 31 JAN 1988 KEN 5 Dubai (UAE) 25 JAN 2013 1255
53 2:04:53 Mathew Kipkoech KISORIO 16 MAY 1989 KEN 3 Valencia (ESP) 02 DEC 2018 1255
53 2:04:53 Deso GELMISA  ETH 6 Valencia (ESP) 06 DEC 2020 1255
56 2:04:54 Markos GENETI 07 JUN 1984 ETH 3 Dubai (UAE) 27 JAN 2012 1255
57 2:04:55 Paul TERGAT 17 JUN 1969 KEN 1 Berlin (GER) 28 SEP 2003 1254
58 2:04:56 Sammy Kipchoge KORIR 12 DEC 1971 KEN 2 Berlin (GER) 28 SEP 2003 1254
58 2:04:56 Jonathan MAIYO 05 MAY 1988 KEN 4 Dubai (UAE) 27 JAN 2012 1254
60 2:05:00 Philemon RONO 08 FEB 1991 KEN 1 Toronto (CAN) 20 OCT 2019 1253
61 2:05:02 Emmanuel SAINA 06 SEP 1992 KEN 4 Dubai (UAE) 25 JAN 2019 1252
62 2:05:03 Moses MOSOP 07 JUL 1985 KEN 3 Rotterdam (NED) 15 APR 2012 1252
63 2:05:04 Abel KIRUI 04 JUN 1982 KEN 3 Rotterdam (NED) 05 APR 2009 1251
64 2:05:05 Barnabas KIPTUM 08 DEC 1986 KEN 2 Sevilla (ESP) 23 FEB 2020 1251
65 2:05:09 Vincent KIPCHUMBA 03 AUG 1990 KEN 1 Amsterdam (NED) 20 OCT 2019 1250
66 2:05:10 Samuel Kamau WANJIRU 10 NOV 1986 KEN 1 London (GBR) 26 APR 2009 1250
67 2:05:11 Mo FARAH 23 MAR 1983 GBR 1 Chicago, IL (USA) 07 OCT 2018 1249
68 2:05:12 Felix CHEMONGES 10 OCT 1995 UGA 3 Toronto (CAN) 20 OCT 2019 1249
69 2:05:13 Vincent KIPRUTO 13 SEP 1987 KEN 3 Rotterdam (NED) 11 APR 2010 1249
69 2:05:13 Wilson Loyanae ERUPE 20 NOV 1988 KEN 1 Seoul (KOR) 20 MAR 2016 1249
69 2:05:13 Nobert KIGEN 24 JAN 1993 KEN 2 Amsterdam (NED) 15 OCT 2017 1249
69 2:05:13 Benson KIPRUTO 17 MAR 1991 KEN 4 Toronto (CAN) 20 OCT 2019 1249
73 2:05:15 Martin Kiptolo LEL 29 OCT 1978 KEN 1 London (GBR) 13 APR 2008 1248
74 2:05:16 Levi Omari MATEBO 03 NOV 1989 KEN 2 Frankfurt (GER) 30 OCT 2011 1248
75 2:05:18 Shifera TAMRU 01 OCT 1998 ETH 5 Dubai (UAE) 25 JAN 2019 1247
75 2:05:18 Elisha ROTICH 12 APR 1990 KEN 3 Amsterdam (NED) 20 OCT 2019 1247
77 2:05:21 Eliud KIPTANUI 06 JUN 1989 KEN 2 Berlin (GER) 27 SEP 2015 1246
77 2:05:21 Daniel KINYUA 25 MAY 1992 KEN 1 Amsterdam (NED) 16 OCT 2016 1246
79 2:05:25 Bazu WORKU HAYLA 15 SEP 1990 ETH 3 Berlin (GER) 26 SEP 2010 1245
79 2:05:25 Albert Kiplagat MATEBOR 25 DEC 1980 KEN 3 Frankfurt (GER) 30 OCT 2011 1245
81 2:05:26 Abraham KIPTUM 15 SEP 1989 KEN 3 Amsterdam (NED) 15 OCT 2017 1245
81 2:05:26 El Mahjoub DAZZA 03 MAR 1991 MAR 6 Valencia (ESP) 02 DEC 2018 1245
83 2:05:27 Jaouad GHARIB 22 MAY 1972 MAR 3 London (GBR) 26 APR 2009 1244
83 2:05:27 Wilson Kwambai CHEBET 12 JUL 1985 KEN 1 Rotterdam (NED) 10 APR 2011 1244
83 2:05:27 Tilahun REGASSA 18 JAN 1990 ETH 3 Chicago, IL (USA) 07 OCT 2012 1244
86 2:05:28 Betesfa GETAHUN 25 SEP 1998 ETH 4 Amsterdam (NED) 20 OCT 2019 1244
87 2:05:29 Suguru OSAKO 23 MAY 1991 JPN 4 Tokyo (JPN) 01 MAR 2020 1244
88 2:05:30 Abderrahim GOUMRI 21 MAY 1976 MAR 3 London (GBR) 13 APR 2008 1243
89 2:05:33 Filex Kipchirchir KIPROTICH 07 DEC 1988 KEN 1 Daegu (KOR) 07 APR 2019 1242
90 2:05:38 Khalid KHANNOUCHI 22 DEC 1971 USA 1 London (GBR) 14 APR 2002 1241
90 2:05:38 Peter Kimeli SOME 05 JUN 1990 KEN 1 Paris (FRA) 07 APR 2013 1241
92 2:05:41 Dadi Yami GEMEDA 1982 ETH 6 Dubai (UAE) 27 JAN 2012 1240
93 2:05:42 Shami Abdullah DAWIT 16 JUL 1984 ETH 7 Dubai (UAE) 27 JAN 2012 1240
93 2:05:42 Deressa CHIMSA 21 NOV 1976 ETH 8 Dubai (UAE) 27 JAN 2012 1240
95 2:05:44 Kenneth Kiprop KIPKEMOI 02 AUG 1984 KEN 1 Rotterdam (NED) 08 APR 2018 1239
96 2:05:46 Dejene DEBELA 09 JAN 1995 ETH 2 Chicago, IL (USA) 13 OCT 2019 1238
97 2:05:47 Marius KIMUTAI 10 DEC 1992 KEN 3 Amsterdam (NED) 16 OCT 2016 1238
98 2:05:48 Jafred Chirchir KIPCHUMBA 08 AUG 1983 KEN 1 Eindhoven (NED) 09 OCT 2011 1238
98 2:05:48 Sondre Nordstad MOEN 12 JAN 1991 NOR 1 Fukuoka (JPN) 03 DEC 2017 1238
100 2:05:49 William KIPSANG 26 JUN 1977 KEN 1 Rotterdam (NED) 13 APR 2008 1238